<div layout-gt-sm="row" layout-sm="column" layout-xs="column" class="ch-planning-row">
	
	<span ng-if="!$ctrl.room.enabled" class="locked-string bg-warn opaque text-uppercase"><span translate="common.disabled.female"></span></span>
	
	<div flex-xs="100" flex-sm="100" flex-gt-sm="25" layout="column" class="ch-planning-cell-room">
		<div flex layout="column" layout-padding-sm layout-align="center center" class="text-center">
			<strong class="text-primary text-uppercase text-center" ng-bind="$ctrl.room.name"></strong>
			
			<md-truncate class="text-wrap">
				<small class="text-gray-light">
					(<span ng-repeat="roomType in $ctrl.room.types track by roomType.id">
						<span translate="{{roomType.roomType.nameKey}}"></span>&nbsp;
						<span class="text-uppercase" translate="room.category.{{roomType.category}}"></span>
						<span ng-if="!$last">,&nbsp;</span>
					</span>)
				</small>
			</md-truncate>
		</div>
	</div>
	
	<div flex layout class="ch-planning-days-content">
		<div flex layout="column" class="ch-planning-cell" ng-class="{'bg-gray-base': viewDate.$reservations.length > 1}"
			ng-repeat="viewDate in $ctrl.$$viewDates track by viewDate.uid">
			
			<ch-planning-reservation ng-if="viewDate.$reservations.length"
				reservation="viewDate.$reservations[0]">
			</ch-planning-reservation>
			
			<div ng-if="viewDate.$reservations.length > 1" flex layout layout-align="center end">
				<md-button class="auto-height minimal-button no-margin text-initial" ng-click="$ctrl.$showOverbookings()" aria-label="Show overbookings">
					<div layout>
						<div>
							<md-icon hide-xs class="mdi mdi-alert md-18 text-warn"></md-icon>&nbsp;
						</div>
						<div>
							<small class="text-lowercase">
								<em>
									<span ng-if="viewDate.$reservations.length == 2" translate="reservations.other.one""></span>
									<span ng-if="viewDate.$reservations.length > 3" translate="reservations.other.num" translate-value-num="{{viewDate.$reservations.length - 1}}"></span>
								</em>
							</small>
						</div>
					</div>
				</md-button>				
			</div>
		</div>
	</div>
</div>