<div class="layout layout-wrap layout-align-center-center">
	<div class="flex-50 flex-gt-sm layout-column layout-align-center-center">
		<ch-counter label="{{$ctrl.$$adultsHint}}" count-class="bg-white only-border" ng-model="$ctrl.people.adults" min="$ctrl.$$peopleLimits.adults.min" max="$ctrl.$$peopleLimits.adults.max"></ch-counter>
	</div>
	<div class="flex-50 flex-gt-sm layout-column layout-align-center-center">
		<ch-counter label="{{$ctrl.$$boysHint}}" count-class="bg-white only-border" ng-model="$ctrl.people.boys" min="$ctrl.$$peopleLimits.boys.min" max="$ctrl.$$peopleLimits.boys.max"></ch-counter>
	</div>
	<div class="flex-50 flex-gt-sm layout-column layout-align-center-center">
		<ch-counter label="{{$ctrl.$$childrenHints}}" count-class="bg-white only-border" ng-model="$ctrl.people.children" min="$ctrl.$$peopleLimits.children.min" max="$ctrl.$$peopleLimits.children.max"></ch-counter>
	</div>
	<div class="flex-50 flex-gt-sm layout-column layout-align-center-center layout-padding">
		<ch-counter label="{{$ctrl.$$kidsHints}}" count-class="bg-white only-border" ng-model="$ctrl.people.kids" min="$ctrl.$$peopleLimits.kids.min" max="$ctrl.$$peopleLimits.kids.max"></ch-counter>
	</div>
</div>