<ng-form name="chPasswordInputForm" flex>
	<md-input-container class="{{$ctrl.containerClass}} no-padding-right" 
		ng-class="{'no-padding-left': !$ctrl.iconClass, 'md-icon-left': $ctrl.iconClass, 'md-icon-right': $ctrl.showIconClass || $ctrl.hideIconClass}">
		<label>
			<span ng-if="$ctrl.inputLabel" ng-bind="$ctrl.inputLabel"></span>
			<span ng-if="!$ctrl.inputLabel" translate="login.password"></span>
		</label>
		
		<md-icon ng-if="$ctrl.iconClass" class="{{$ctrl.iconClass}}"></md-icon>
		
		<input type="{{$ctrl.$$showPwd ? 'text' : 'password'}}" name="{{$ctrl.inputName}}" ng-model="$ctrl.ngModel" 
			ng-required="$ctrl.ngRequired" ng-disabled="$ctrl.ngDisabled" ng-readonly="$ctrl.ngReadonly" style="padding-right: 30px">
		
		<md-icon class="clickable" ng-class="$ctrl.$$showPwd ? $ctrl.hideIconClass : $ctrl.showIconClass" ng-click="$ctrl.$$showPwd = !$ctrl.$$showPwd" 
			aria-label="Show/Hide password" tabindex="-1">
			<md-tooltip>
				<span ng-show="$ctrl.$$showPwd" translate="common.hide"></span>
				<span ng-show="!$ctrl.$$showPwd" translate="common.show"></span>
			</md-tooltip>
		</md-icon>
		
		<div ng-messages="chPasswordInputForm[$ctrl.inputName].$error">
	   		<div ng-repeat="errorObj in $ctrl.errorMessages" ng-message="{{errorObj.error}}">
				<span ng-if="errorObj.message" ng-bind="{{errorObj.message}}"></span>
       			<span ng-if="!errorObj.message && errorObj.messageKey" translate="{{errorObj.messageKey}}" 
       				translate-values="errorObj.messageKeyParams"></span>
       		</div>
		</div>
	</md-input-container>
</ng-form>