<md-dialog aria-label="rate info" flex-gt-lg="60" flex-gt-sm="80">
   <div>
	    <div layout class="md-padding bg-white" ng-class="{'no-padding-bottom': $ctrl.$mdMedia('gt-xs')}" ng-switch="$ctrl.rate.$$type">
	   		<div layout="column" flex>
	    		<h2 class="no-margin md-title"><strong translate="{{$ctrl.roomtype.nameKey}}"></strong></h2>
		        <div class="text-gray-light">
		        	<span translate="ratesheet.rate"></span>:&nbsp;
		        	
		        	<strong><em>
		        		<span ng-switch-when="FREE" translate="reservation.cancellation.free"></span>
						<span ng-switch-when="NOT_REFUNDABLE" translate="policies.policy.cancellation.not.refundable"></span>
						<span ng-switch-when="PARTIALLY_REFUNDABLE" translate="policies.policy.cancellation.partially.refundable"></span>
		        	</em></strong>
				</div>
	        </div>
	        
	        <div layout="column">
		        <md-button class="md-icon-button" ng-click="$ctrl.$close()" aria-label="close">
					<md-icon class="mdi mdi-close text-gray-base"></md-icon>
		        </md-button>
		    </div>
	     </div>
		<md-divider hide-gt-xs></md-divider>
   	</div>
   	
    <md-dialog-content class="md-padding no-padding-y-sides" flex-xs>
    	
    	<div class="text-gray-light row-1" ng-switch="$ctrl.rate.type">
			<strong>
				<span ng-switch-when="FREE" translate="reservation.rate.free.info.label"></span>
				<span ng-switch-when="NOT_REFUNDABLE" translate="reservation.rate.not.refundable.info.label"></span>
				<span ng-switch-when="PARTIALLY_REFUNDABLE" translate="reservation.rate.partially.refundable.info.label"></span>
			</strong>
		</div>
		
		<div layout layout-wrap layout-align="center center" layout-align-gt-sm="start center" layout-padding class="no-padding">
			<div ng-if="$ctrl.rate.type == 'FREE' && ($ctrl.promotion.onArrival || !$ctrl.rate.cancellationPolicy.flexible)" class="no-padding-left no-padding-bottom">
				<small class="label bg-success">
					<strong translate="reservation.no.advance.payment"></strong>
				</small>
			</div>
			<div class="no-padding-left no-padding-bottom" ng-if="$ctrl.isBestRate">
				<small class="label bg-primary-lighter">
		      		<strong translate="reservation.bestHotelRate.description"></strong>
				</small>
			</div>
			<div class="no-padding-left no-padding-bottom" ng-if="!$ctrl.isBestRate && !$ctrl.promotion && $ctrl.rate.type == 'FREE'">
				<small class="label bg-primary-lighter">
					<strong translate="reservation.rate.free.text.description.short"></strong>
				</small>
			</div>
			<div class="no-padding-left no-padding-bottom" ng-if="!$ctrl.isBestRate && $ctrl.rate.savingAmount.finalAmount">
				<small  class="label bg-blue-sea">
					<strong translate="reservation.rate.not.refundable.text.description.short" translate-value-price="{{$ctrl.rate.savingAmount.finalAmount|chCurrency}}"></strong>
				</small>
			</div>
		</div>

		<div layout="column" layout-padding class="text-gray-light text-small">
			<div class="no-padding-x-sides">
			
	  			<div layout="column" flex="100" layout-padding class="no-padding md-body-1">
	  				<h4 class="md-body-1 no-margin-bottom no-margin-top no-padding-x-sides">
	      			<strong translate="reservation.room.cost.details"></strong>
	      		</h4>
	  			
	  				<div layout layout-wrap class="only-border no-border-bottom bg-white" ng-repeat="dailyRate in $ctrl.rate.dailyRates track by $index">
	  					<div layout="column" flex>
	  						<strong>
	  							<span translate="room.room"></span>&nbsp;<span>{{dailyRate.date|date:"shortDate"}}</span>
	  						</strong>
							<span ng-if="dailyRate.promotion" ng-switch="dailyRate.promotion.promotionType">
								<span ng-switch-when="STANDARD" class="label label-xs bg-info">
									<ch-truncate text="{{dailyRate.promotion.name[$ctrl.localeIso]}}" max-length="20" suffix="..."></ch-truncate>&nbsp;
				      				<span ng-bind-html="'-' + (dailyRate.promotion.discount|chAmount)"></span>
								</span>
					      		<span ng-switch-when="MINIMUM_STAY" class="label label-xs bg-primary-light">
					      			<span translate="promotions.promotion.label.minstay.nights" translate-value-count="{{dailyRate.promotion.minStay}}"></span>&nbsp;
				      				<span ng-bind-html="'-' + (dailyRate.promotion.discount|chAmount)"></span>
					      		</span>
					      		<span ng-switch-when="BOOK_TODAY" class="label label-xs bg-primary">
					      			<span translate="promotions.promotion.label.only.today"></span>!&nbsp;
				      				<span ng-bind-html="'-' + (dailyRate.promotion.discount|chAmount)"></span>
					      		</span>
					      		<span ng-switch-when="EARLY_BOOKING" class="label label-xs bg-success">
					      			<span translate="promotions.early"></span>&nbsp;
				      				<span ng-bind-html="'-' + (dailyRate.promotion.discount|chAmount)"></span>
					      		</span>
					      		<span ng-switch-when="LAST_MINUTE" class="label label-xs bg-blue-sea">
					      			<span translate="promotions.last.minute"></span>&nbsp;
				      				<span ng-bind-html="'-' + (dailyRate.promotion.discount|chAmount)"></span>
					      		</span>
					      		<span ng-switch-when="LAST_SECOND" class="label label-xs bg-warn">
					      			<span translate="promotions.last.second"></span>&nbsp;
				      				<span ng-bind-html="'-' + (dailyRate.promotion.discount|chAmount)"></span>
					      		</span>
							</span>  
						</div>				
	  					<div>
	  						<small class="text-gray-light" ng-if="dailyRate.rate.amount.initialAmount > 0 && dailyRate.rate.amount.initialAmount > dailyRate.rate.amount.finalAmount">
			        		<i><del>{{dailyRate.rate.amount.initialAmount|chCurrency}}</del></i>&nbsp;
			        	</small>
			        	<strong class="no-padding-top">{{dailyRate.rate.amount.finalAmount|chCurrency}}</strong>
	  					</div>
	  				</div>
	  				<div layout layout-wrap class="only-border no-border-bottom bg-white" ng-repeat="service in $ctrl.requiredservices">
	  					<div layout="column" flex>
	  						<strong translate="{{service.service.type.nameKey}}"></strong>
							<span ng-switch="service.service.paymentType" class="text-lowercase text-gray-light">
								<small ng-switch-when="FREE">
									<span><span translate="common.free"></span></span>
								</small>
								<small ng-switch-when="SINGLE">
									<span ng-bind="(service.service.paymentOptions[0].amount.finalAmount|chCurrency)"></span>&nbsp;
									<span ng-if="service.service.frequency == 'DAILY'" class="text-lowercase"><span translate="date.frequency.daily"></span></span>
		   							<span ng-if="service.service.frequency == 'MONTHLY'" class="text-lowercase"><span translate="date.frequency.monthly"></span></span>
		   							<span ng-if="service.service.frequency == 'YEARLY'" class="text-lowercase"><span translate="date.frequency.yearly"></span></span>
		   							<span ng-if="service.service.frequency == 'LUMP_SUM'" class="text-lowercase"><span translate="common.entire.stay"></span></span>
								</small>
								<small ng-switch-when="PER_PERSON">
									<span>
										<span translate="reservation.starting.from"></span>:&nbsp;
										<span ng-bind="(service.service.startingFrom|chCurrency)"></span>&nbsp;
										<span ng-if="service.service.frequency == 'DAILY'" class="text-lowercase"><span translate="date.frequency.daily"></span></span>
		   								<span ng-if="service.service.frequency == 'MONTHLY'" class="text-lowercase"><span translate="date.frequency.monthly"></span></span>
		   								<span ng-if="service.service.frequency == 'YEARLY'" class="text-lowercase"><span translate="date.frequency.yearly"></span></span>
		   								<span ng-if="service.service.frequency == 'LUMP_SUM'" class="text-lowercase"><span translate="common.entire.stay"></span></span>
									</span>
								</small>
							</span>	
	  					</div>
	  					
	  					<div>
	  						<small class="text-gray-light" ng-if="service.amount.initialAmount > 0 && service.amount.initialAmount > service.amount.finalAmount">
				        		<i><del>{{service.amount.initialAmount|chCurrency}}</del></i>&nbsp;
				        	</small>
	  						<strong>{{service.amount.finalAmount|chCurrency}}</strong>
	  					</div>
	  				</div>
	  				<div layout layout-wrap class="only-border md-body-1 bg-gray-lighter">
	  					<div layout="column" flex>
	  						<strong translate="common.total"></strong>
	  					</div>
	  					<div>
	  						<small class="text-gray-light" ng-if="$ctrl.totalAmount.initialAmount > 0 && $ctrl.totalAmount.initialAmount > $ctrl.totalAmount.finalAmount">
				        		<i><del>{{$ctrl.totalAmount.initialAmount|chCurrency}}</del></i>&nbsp;
				        	</small>
	  						<strong>{{$ctrl.totalAmount.finalAmount|chCurrency}}</strong>
	  					</div>
	  				</div>
	  			</div>
	  			
	  			<div layout="column" layout-padding class="no-padding-x-sides">
	     			<span class="no-padding-bottom no-padding-x-sides">
	     				<span ng-if="$ctrl.nights == 1" translate="reservation.rates.info.night"></span>
	     				<span ng-if="$ctrl.nights > 1" translate="reservation.rates.info.nights" translate-value-count="{{$ctrl.nights}}"></span>
	     			</span>
	    			
	     			<span ng-if="$ctrl.vatTax" class="no-padding-bottom no-padding-x-sides">
	     				<strong><span translate="common.included"></span>:</strong>&nbsp;{{$ctrl.vatTax}}%&nbsp;<span translate="billing.vat.tax"></span>
	     			</span>
	    			
	     			<span ng-if="$ctrl.cityTax" class="no-padding-bottom no-padding-x-sides">
	     				<strong><span translate="common.included.not"></span>:</strong>&nbsp;{{$ctrl.cityTax|chCurrency}}&nbsp;<span translate="reservation.cityTax.description"></span>
	     			</span>
	     			
	     			<span ng-if="$ctrl.deposit" class="no-padding-bottom no-padding-x-sides">
	     				<strong><span translate="common.included.not"></span>:</strong>&nbsp;{{$ctrl.deposit}}%&nbsp;<span translate="reservation.deposit.description"></span>
	     			</span>
	  			</div>
	  		
	  			<div ng-if="$ctrl.rate.type == 'FREE' && $ctrl.promotion.onArrival" class="bg-success text-white layout-margin">
	  				<md-icon md-font-set="fas" class="fas fa-h-square md-18 text-white"></md-icon>
	  				<span translate="reservation.policy.payment.onArrival"></span>
	  			</div>
	
			</div>
		</div>
	</md-dialog-content>
    
    <md-dialog-actions>
    	<div>
			<md-button class="bg-success-light" ng-click="$ctrl.$close()" aria-label="i Got It">
				<md-icon class="mdi mdi-check text-success"></md-icon>
				<span translate="common.got.it"></span>
			</md-button>
		</div>
    </md-dialog-actions>
</md-dialog>