<md-dialog aria-label="Room info" flex-gt-sm="60">
   <div>
	   <div layout class="md-padding bg-white" ng-class="{'no-padding-bottom': $ctrl.$mdMedia('gt-xs')}">
	 		<div layout="column" flex>
		  		<h2 class="no-margin md-title"><strong translate="{{$ctrl.room.roomType.nameKey}}"></strong></h2>
		       	<div class="text-gray-light">
		       		<span translate="room.category.{{$ctrl.room.category}}"></span>
				</div>
		    </div>
		      <div layout="column">
		       <md-button class="md-icon-button" ng-click="$ctrl.$close()" aria-label="close">
		         <md-icon class="mdi mdi-close text-gray-base"></md-icon>
		       </md-button>
		   </div>
	   </div>
	   <md-divider hide-gt-xs></md-divider>
   </div>
    <md-dialog-content class="md-padding" ng-class="{'no-padding-y-sides': $ctrl.$mdMedia('gt-xs')}">

		<ch-room-details room="$ctrl.room" locale-iso="$ctrl.localeIso"></ch-room-details>
	
	</md-dialog-content>
    
    <md-dialog-actions>
    	<div>
			<md-button class="bg-success-light" ng-click="$ctrl.$close()" aria-label="i Got It">
				<md-icon class="mdi mdi-check text-success"></md-icon>
				<span translate="common.got.it"></span>
			</md-button>
		</div>
    </md-dialog-actions>
</md-dialog>