<md-dialog aria-label="rate policy info" flex-gt-lg="60" flex-gt-sm="80">
	<div>
	     <div layout class="md-padding bg-white" ng-class="{'no-padding-bottom': $ctrl.$mdMedia('gt-xs')}" ng-switch="$ctrl.rate.$$type">
	   		<div layout="column" flex>
	    		<h2 class="no-margin md-title"><strong translate="{{$ctrl.roomtype.nameKey}}"></strong></h2>
		        <div class="text-gray-light">
		        	<span translate="ratesheet.rate"></span>:&nbsp;
		        	
		        	<strong><em>
		        		<span ng-switch-when="FREE" translate="reservation.cancellation.free"></span>
						<span ng-switch-when="NOT_REFUNDABLE" translate="policies.policy.cancellation.not.refundable"></span>
						<span ng-switch-when="PARTIALLY_REFUNDABLE" translate="policies.policy.cancellation.partially.refundable"></span>
		        	</em></strong>
				</div>
	        </div>
	        
	        <div layout="column">
		        <md-button class="md-icon-button" ng-click="$ctrl.$close()" aria-label="close">
          			<md-icon class="mdi mdi-close text-gray-base"></md-icon>
		        </md-button>
		    </div>
		</div>
		<md-divider hide-gt-xs></md-divider>
	</div>
	
    <md-dialog-content class="md-padding no-padding-y-sides text-gray-light" flex-xs>
		<div class="no-padding">
			<div class="text-gray-light row-1" ng-switch="$ctrl.rate.$$type">
				<strong>
					<span ng-switch-when="FREE" translate="reservation.rate.free.info.label"></span>
					<span ng-switch-when="NOT_REFUNDABLE" translate="reservation.rate.not.refundable.info.label"></span>
					<span ng-switch-when="PARTIALLY_REFUNDABLE" translate="reservation.rate.partially.refundable.info.label"></span>
				</strong>
			</div>
			
			<div layout layout-wrap layout-align="center center" layout-align-gt-sm="start center" layout-padding class="no-padding">
				<div ng-if="$ctrl.rate.$$type == 'FREE' && ($ctrl.$$promotion.onArrival || !$ctrl.rate.cancellationPolicy.flexible)" class="no-padding-left no-padding-bottom">
					<small class="label bg-success">
						<strong translate="reservation.no.advance.payment"></strong>
					</small>
				</div>
				<div class="no-padding-left no-padding-bottom" ng-if="$ctrl.isBestRate">
					<small class="label bg-primary-lighter">
			      		<strong translate="reservation.bestHotelRate.description"></strong>
					</small>
				</div>
				<div class="no-padding-left no-padding-bottom" ng-if="!$ctrl.isBestRate && !$ctrl.$$promotion && $ctrl.rate.$$type == 'FREE'">
					<small class="label bg-primary-lighter">
						<strong translate="reservation.rate.free.text.description.short"></strong>
					</small>
				</div>
				<div class="no-padding-left no-padding-bottom" ng-if="!$ctrl.isBestRate && $ctrl.rate.savingAmount.finalAmount">
					<small  class="label bg-blue-sea">
						<strong translate="reservation.rate.not.refundable.text.description.short" translate-value-price="{{$ctrl.rate.savingAmount.finalAmount|chCurrency}}"></strong>
					</small>
				</div>
			</div>
		
			<!-- PAYMENT INFO -->
	  		<div class="md-margin no-margin-top no-margin-left no-margin-right">
	  			<ch-payment-policy-info
	  				title="{{'reservation.payment.room.policy.payment.title'|translate}}"
					cancellation-policy="$ctrl.rate.cancellationPolicy"
					city="{{$ctrl.city}}"></ch-payment-policy-info>
	  		</div>
	  		
	  		<!-- PRE AUTH -->
			<div class="md-margin no-margin-top no-margin-left no-margin-right">
			
	  		</div>
		
			<!-- POLICY -->
			<div class="md-margin no-margin-top no-margin-left no-margin-right">
	   			<ch-cancellation-policy-info
					cancellation-policy="$ctrl.rate.cancellationPolicy"
					city="{{$ctrl.city}}"
					title="{{$ctrl.rate.cancellationPolicy.cancellation.deposit ? ('reservation.deposit.conditions'|translate) : null}}">
				</ch-cancellation-policy-info>
	  		</div>
	   	</div>
	</md-dialog-content>
    
    <md-dialog-actions>
    	<div>
			<md-button class="bg-success-light" ng-click="$ctrl.$close()" aria-label="i Got It">
				<md-icon class="mdi mdi-check text-success"></md-icon>
				<span translate="common.got.it"></span>
			</md-button>
		</div>
    </md-dialog-actions>
</md-dialog>