<div>
	<div ng-if="!$ctrl.totalServices.length">
		<span class="text-italic" translate="service.none"></span>
	</div>
	
	<div ng-if="$ctrl.totalServices.length">
		<md-list class="layout-row layout-wrap">
			<md-list-item ng-repeat="service in $ctrl.totalServices track by $index" ng-show="$ctrl.$$showAllServices || $index < $ctrl.previewSize" 
				class="am-fade-and-slide-right no-padding-top no-padding-right flex-100" 
				ng-class="{'flex-gt-sm-50': $ctrl.totalServices.length > 1, 'no-padding-left': !$ctrl.$mdMedia('gt-sm'), 'no-padding': service.$$editing}">
				
				<div ng-if="!service.$$editing" flex layout layout-wrap layout-align="start center" layout-padding-sm class="no-secondary-container">
					<div ng-if="$ctrl.$$servicesIcons[service.type.nameKey]">
						<md-icon class="{{$ctrl.$$servicesIcons[service.type.nameKey]}} md-30 circle-icon material-icons" ng-class="service.$$serviceSold ? 'bg-success text-white' : 'bg-gray-lighter text-gray-light'"></md-icon>
					</div>
					<div ng-if="!$ctrl.$$servicesIcons[service.type.nameKey]">
						<md-icon class="mdi mdi-check md-30 circle-icon" ng-class="service.$$serviceSold ? 'bg-success text-white' : 'bg-gray-lighter text-gray-light'"></md-icon>
					</div>	
					
					<div class="flex layout-column flex-order-xs-1 flex-order-sm-1" ng-if="!service.$$serviceSold">
						<strong ng-click="$ctrl.$showServiceInfo($event, service)" aria-label="Show service info" class="clickable">
							<span ng-if="service.maxCount > 1"><span ng-bind="service.maxCount"></span>&nbsp;x&nbsp;</span>
							<span translate="{{service.type.nameKey}}"></span>&nbsp;
							<md-icon class="mdi mdi-information-outline md-14"></md-icon>
						</strong>
						
						<span ng-switch="service.paymentType" class="text-lowercase text-gray-light text-small">
							<span ng-switch-when="FREE">
								<span translate="common.free"></span>
							</span>
							<span ng-switch-when="SINGLE">
								<span ng-bind="service.paymentOptions[0].amount.finalAmount|chCurrency"></span>&nbsp;
								<span ng-if="service.frequency == 'DAILY'" class="text-lowercase"><span translate="date.frequency.daily"></span></span>
	   							<span ng-if="service.frequency == 'MONTHLY'" class="text-lowercase"><span translate="date.frequency.monthly"></span></span>
	   							<span ng-if="service.frequency == 'YEARLY'" class="text-lowercase"><span translate="date.frequency.yearly"></span></span>
	   							<span ng-if="service.frequency == 'LUMP_SUM'" class="text-lowercase"><span translate="common.entire.stay"></span></span>
							</span>
							<span ng-switch-when="PER_PERSON">
								<span translate="reservation.starting.from"></span>&nbsp;
								<span ng-bind="service.$$bestPrice|chCurrency"></span>&nbsp;
								<span ng-if="service.frequency == 'DAILY'" class="text-lowercase"><span translate="date.frequency.daily"></span></span>
   								<span ng-if="service.frequency == 'MONTHLY'" class="text-lowercase"><span translate="date.frequency.monthly"></span></span>
   								<span ng-if="service.frequency == 'YEARLY'" class="text-lowercase"><span translate="date.frequency.yearly"></span></span>
   								<span ng-if="service.frequency == 'LUMP_SUM'" class="text-lowercase"><span translate="common.entire.stay"></span></span>
							</span>
						</span>
					</div>
					
					<div class="flex layout-column flex-order-xs-1 flex-order-sm-1" ng-if="service.$$serviceSold">
						<strong ng-click="$ctrl.$showServiceInfo($event, service)" aria-label="Show service info" class="clickable">
							<span ng-if="service.$$serviceSold.count > 1"><span ng-bind="service.$$serviceSold.count"></span>&nbsp;x&nbsp;</span>
							<span translate="{{service.type.nameKey}}"></span>
							<md-icon class="mdi mdi-information-outline md-14"></md-icon>
						</strong>
						
<!-- 						<div ng-if="service.paymentType == 'PER_PERSON' && !service.$$serviceSold.$$removed"> -->
<!-- 							<small class="text-danger text-wrap" translate="service.unavailable.people"></small> -->
<!-- 						</div> -->

						<div ng-if="service.paymentType == 'PER_PERSON'" class="text-gray-light text-small">
							<ch-people-summary people="service.$$serviceSold.people"></ch-people-summary>
						</div>					
						
						<div ng-if="!service.$$serviceSold.$$removed && service.$$serviceSold.amount" class="md-subhead">
				        	<span ng-if="service.$$serviceSold.amount.finalAmount > 0" ng-bind="service.$$serviceSold.amount.finalAmount|chCurrency"></span>
				        	<span ng-if="service.$$serviceSold.amount.finalAmount == 0" class="text-success"><span translate="common.free"></span></span>
					    </div>
					</div>
					
					<div class="layout-column layout-align-center-center flex-order-xs-2 flex-order-sm-2" ng-class="{'text-center': !$ctrl.$mdMedia('gt-sm')}"	ng-if="service.$$serviceSold">
						<div class="text-center">
							<md-icon class="mdi mdi-checkbox-marked-circle-outline text-success md-18"></md-icon>&nbsp;
							<small class="text-success" translate="common.booked.male"></small>
						</div>
						
						<md-button ng-if="service.$$editable" hide show-gt-sm class="button-small text-blue-sea text-small" ng-class="$ctrl.$mdMedia('gt-sm') ? 'auto-height row-1' : 'only-border border-blue-sea'" 
							ng-disabled="$ctrl.$$editingService" ng-click="$ctrl.$editService(service)" aria-label="Edit service">
							<md-icon class="mdi mdi-pencil md-18 text-blue-sea"></md-icon>
							<span translate="common.edit"></span>
						</md-button>
					</div>
					
					<div class="no-padding-right flex-order-xs-3 flex-order-sm-3" ng-class="{'flex-100 layout-column text-center': !$ctrl.$mdMedia('gt-sm')}" ng-if="!service.$$serviceSold">
						<md-button class="button-small only-border" ng-class="{'border-success text-success': !$ctrl.$$editingService}"
							ng-disabled="$ctrl.$$editingService" ng-click="$ctrl.$addService(service)" aria-label="Add service">
							<md-icon class="mdi mdi-plus md-18" ng-class="{'text-success': !$ctrl.$$editingService}"></md-icon>
							<small translate="common.add"></small>
						</md-button>
					</div>
					
					<div class="no-padding-right flex-order-xs-3 flex-order-sm-3" ng-class="$ctrl.$mdMedia('gt-sm') ? 'layout-row layout-align-end-center' : 'flex-100 layout-column'" ng-if="service.$$serviceSold">
						<md-button ng-if="service.$$editable" hide-gt-sm class="button-small text-blue-sea text-small" ng-class="$ctrl.$mdMedia('gt-sm') ? 'auto-height row-1' : 'only-border border-blue-sea'" 
							ng-disabled="$ctrl.$$editingService" ng-click="$ctrl.$editService(service)" aria-label="Edit service">
							<md-icon class="mdi mdi-pencil md-18 text-blue-sea"></md-icon>
							<span translate="common.edit"></span>
						</md-button>
				
						<md-button class="text-small" ng-class="{'no-margin md-icon-button': $ctrl.$mdMedia('gt-sm')}"
							ng-disabled="$ctrl.$$editingService" ng-click="$ctrl.$removeService(service.$$serviceSold)" aria-label="Remove service">
							<md-icon class="mdi mdi-close md-18"></md-icon>
							<span hide-gt-sm translate="common.remove"></span>
							<md-tooltip hide show-gt-sm><span translate="common.remove"></span></md-tooltip>
						</md-button>
					</div>
				</div>
				
				<div flex ng-if="service.$$editing && $ctrl.$$editingService">
					<ch-service-sold-edit
						class="md-whiteframe-z2 md-margin layout-column layout-padding-sm"
						service-sold="$ctrl.$$editingService"
						nights="$ctrl.nights"
						people-limits="$ctrl.$$peopleLimits"
						people-age-ranges="$ctrl.peopleAgeRanges"
						on-confirm="$ctrl.$confirmServiceEdit($serviceSold)"
						on-cancel="$ctrl.$cancelServiceEdit($serviceSold)">
					</ch-service-sold-edit>
				</div>
					
				<md-divider ng-if="!$last" class="md-margin hide-gt-sm"></md-divider>
			</md-list-item>
		</md-list>	
		
		<div ng-if="($ctrl.totalServices.length - $ctrl.previewSize) > 0" class="flex-100 layout-column">
			<md-button class="button-mini text-small" ng-click="$ctrl.$toggleAllServices()" aria-label="Show other services">
				<span ng-if="!$ctrl.$$showAllServices">
					<span ng-if="($ctrl.totalServices.length - $ctrl.previewSize) <= 1">
						<span translate="common.show.other"></span>&nbsp;
						<span ng-bind="($ctrl.totalServices.length - $ctrl.previewSize)"></span>&nbsp;
						<span translate="service.services"></span>
					</span>
					<span ng-if="($ctrl.totalServices.length - $ctrl.previewSize) > 1">
						<span translate="common.show.others"></span>&nbsp;
						<span ng-bind="($ctrl.totalServices.length - $ctrl.previewSize)"></span>&nbsp;
						<span translate="service.services"></span>
					</span>
				</span>
				<span ng-if="$ctrl.$$showAllServices">
					<span translate="reservation.services.hide"></span>
				</span>
				&nbsp;
				<md-icon class="mdi md-18" ng-class="$ctrl.$$showAllServices ? 'mdi-chevron-up' : 'mdi-chevron-down'"></md-icon>
			</md-button>
		</div>
	</div>
</div>