<div class="relative" id="ch-room-edit_{{$ctrl.$$index}}">
	<div ng-if="$ctrl.title || $ctrl.onRemove" class="layout-row layout-padding-sm">
		<div ng-if="$ctrl.title" class="text-primary md-subhead">
			<span ng-bind="$ctrl.title"></span>
		</div>
		
		<div flex></div>
		
		<div ng-if="$ctrl.onRemove">
			<md-button class="md-icon-button" ng-click="$ctrl.$removeRoom($event)" aria-label="Remove room">
				<md-icon class="mdi mdi-close md-24"></md-icon>
				<md-tooltip><span translate="common.remove"></span></md-tooltip>
			</md-button>
		</div>
	</div>

	<div class="layout-gt-sm-row layout-padding no-padding layout-wrap">
		<div class="square-room-image no-padding-left">
			<img class="no-padding-left clickable" ng-src="{{$ctrl.$$roomImage}}" lazy-image alt="Room cover image" ng-click="$ctrl.$openGallery($event)">
			<md-tooltip><span translate="photo.photos.view.all"></span></md-tooltip>
		</div>
		
		<div flex>
			<div layout layout-wrap>
				<div flex>
					<h3 class="no-margin md-title" translate="{{$ctrl.room.type.roomType.nameKey}}"></h3>
				
					<div class="row-mini text-gray-light">
		     			<small flex>
			            	<span ng-if="$ctrl.room.type.description[$ctrl.localeIso]">{{$ctrl.room.type.description[$ctrl.localeIso]}}</span>
		           			<span ng-if="!$ctrl.room.type.description[$ctrl.localeIso]"><span translate="{{$ctrl.room.type.roomType.descriptionKey}}"></span></span>
		           		</small>
		     		</div>
		     				
		     		<div>
						<span class="md-caption">
							<span><span translate="room.category"></span>:&nbsp;</span>
							<span class="text-normal text-uppercase" translate="room.category.{{$ctrl.room.type.category}}"></span>
						</span>
					</div>
							
					<div>
						<span class="md-caption text-lowercase">
							<span>{{$ctrl.$$guestsCount.total}}</span>
							<span ng-if="$ctrl.$$guestsCount.total != 1" translate="people.people"></span>
							<span ng-if="$ctrl.$$guestsCount.total == 1" translate="people.person"></span>
						</span>
					</div>
	    		</div>
	    		
			    <div>
					<div class="layout-row layout-wrap layout-align-gt-sm-end-center flex-xs-100 flex-sm-100" ng-class="{'layout-align-center-start': $ctrl.$$promotion, 'layout-align-center-center': !$ctrl.$$promotion}">
					
						<div class="layout-column" ng-class="{'text-center': !$ctrl.$mdMedia('gt-sm'), 'text-right': $ctrl.$mdMedia('gt-sm')}">
							<div ng-if="$ctrl.$$promotion" ng-switch="$ctrl.$$promotion.promotionType">
								<span ng-switch-when="STANDARD" class="label label-xs bg-info"><ch-truncate text="{{$ctrl.$$promotion.name[$ctrl.localeIso]}}" max-length="20" suffix="..."></ch-truncate>&nbsp;<span ng-if="$ctrl.$$promotion.discount.type=='PERCENTAGE'">-{{$ctrl.$$promotion.discount.finalAmount}}%</span><span ng-if="$ctrl.$$promotion.discount.type=='PRICE'">-{{$ctrl.$$promotion.discount.finalAmount|chCurrency}}</span></span>
					      		<span ng-switch-when="MINIMUM_STAY" class="label label-xs bg-primary-light"><span translate="promotions.promotion.label.minstay.nights" translate-value-count="{{$ctrl.$$promotion.minStay}}"></span>&nbsp;<span ng-if="$ctrl.$$promotion.discount.type=='PERCENTAGE'">-{{$ctrl.$$promotion.discount.finalAmount}}%</span><span ng-if="$ctrl.$$promotion.discount.type=='PRICE'">-{{$ctrl.$$promotion.discount.finalAmount|chCurrency}}</span></span>
					      		<span ng-switch-when="BOOK_TODAY" class="label label-xs bg-primary"><span translate="promotions.promotion.label.only.today"></span>!&nbsp;<span ng-if="$ctrl.$$promotion.discount.type=='PERCENTAGE'">-{{$ctrl.$$promotion.discount.finalAmount}}%</span><span ng-if="$ctrl.$$promotion.discount.type=='PRICE'">-{{$ctrl.$$promotion.discount.finalAmount|chCurrency}}</span></span>
					      		<span ng-switch-when="EARLY_BOOKING" class="label label-xs bg-success"><span translate="promotions.early"></span>&nbsp;<span ng-if="$ctrl.$$promotion.discount.type=='PERCENTAGE'">-{{$ctrl.$$promotion.discount.finalAmount}}%</span><span ng-if="$ctrl.$$promotion.discount.type=='PRICE'">-{{$ctrl.$$promotion.discount.finalAmount|chCurrency}}</span></span>
					      		<span ng-switch-when="LAST_MINUTE" class="label label-xs bg-blue-sea"><span translate="promotions.last.minute"></span>&nbsp;<span ng-if="$ctrl.$$promotion.discount.type=='PERCENTAGE'">-{{$ctrl.$$promotion.discount.finalAmount}}%</span><span ng-if="$ctrl.$$promotion.discount.type=='PRICE'">-{{$ctrl.$$promotion.discount.finalAmount|chCurrency}}</span></span>
					      		<span ng-switch-when="LAST_SECOND" class="label label-xs bg-warn"><span translate="promotions.last.second"></span>&nbsp;<span ng-if="$ctrl.$$promotion.discount.type=='PERCENTAGE'">-{{$ctrl.$$promotion.discount.finalAmount}}%</span><span ng-if="$ctrl.$$promotion.discount.type=='PRICE'">-{{$ctrl.$$promotion.discount.finalAmount|chCurrency}}</span></span>
							</div>
							
							<div layout="column" layout-align="center end" ng-class="{'md-padding': !$ctrl.$mdMedia('gt-sm')}">						
								<small ng-if="$ctrl.room.totalPrice.initialAmount > 0 && $ctrl.room.totalPrice.initialAmount > $ctrl.room.totalPrice.finalAmount">
					        		<i><del>{{$ctrl.room.totalPrice.initialAmount|chCurrency}}</del></i>&nbsp;&nbsp;
					        	</small>
					        	
								<h3 class="no-margin md-headline">{{$ctrl.room.totalPrice.finalAmount|chCurrency}}</h3>
							</div>
							
							<div class="text-center layout-column flex-50">
								<div ng-switch="$ctrl.room.totalRate.type">
		     						<span ng-switch-when="STANDARD">
		     							<span ng-if="$ctrl.room.totalRate.cancellationPolicy.flexible" class="label bg-warn" translate="reservation.rate.flexible"></span>
		     							<span ng-if="!$ctrl.room.totalRate.cancellationPolicy.flexible" class="label bg-success" translate="reservation.cancellation.free"></span>
		     						</span>
		     						<span ng-switch-when="NOT_REFUNDABLE" class="label" translate="ratesheet.rate.type.notRefundable.abbr"></span>
		     					</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				
			<div ng-if="$ctrl.room.totalRate.$$bestHotelRate" class="layout-row layout-wrap layout-align-start-center layout-padding border-radius border-success text-success only-border md-body-2 margin-auto-20">
				<span class="no-padding">
					<md-icon class="mdi mdi-thumb-up-outline md-24 text-success"></md-icon>&nbsp;
					<span translate="room.best.hotel.rate"></span>
				</span>
			</div>
			
<!-- 			<div ng-if="!$ctrl.showConfig" class="layout-row layout-wrap layout-align-start-center layout-padding border-radius border-success text-success only-border md-body-2 margin-auto-20"> -->
<!-- 				<span class="no-padding"> -->
<!-- 					<md-icon class="mdi mdi-thumb-up-outline md-24 text-success"></md-icon>&nbsp; -->
<!-- 					<span translate="room.last.hotel.rate.selected"></span> -->
<!-- 				</span> -->
<!-- 			</div> -->
			
			<div ng-if="!$ctrl.room.totalRate.$$bestHotelRate" class="layout-row layout-wrap layout-align-start-center layout-padding border-radius border-blue-sea text-blue-sea only-border md-body-2 margin-auto-20">
				<span class="no-padding">
					<md-icon class="mdi mdi-thumb-up-outline md-24 text-blue-sea"></md-icon>&nbsp;
					<span translate="room.best.lovely.choise"></span>
				</span>
			</div>
			
		</div>
	</div>
	
	<div ng-if="!$ctrl.showConfig">
		<div layout="column" ng-class="{'md-padding': $ctrl.$mdMedia('gt-sm')}">
			<div class="font-14 text-blue-sea text-center">
				<span translate="room.config.now.question"></span>
			</div>
			
			<md-button class="bg-blue-sea text-wrap button-small" ng-click="$ctrl.$toggleRoomConfig(true)" aria-label="Config room">
				<span><span translate="room.config.now"></span>!</span>
				<md-icon class="mdi mdi-chevron-down md-24 text-white animated infinite bounce"></md-icon>
			</md-button>
		</div>
	</div>
	
	<div ng-if="$ctrl.showConfig">
		<div class="layout-column flex-100 layout-align-center-center margin-20-no-x-sides">
			<div class="md-title text-center">
				<span translate="reservation.rooms.config.title"></span>
			</div>
		</div>
	
		<div layout="column" class="margin-20-no-x-sides no-margin-top">
			<div>
				<div class="md-subhead md-margin text-blue-sea">
					<md-icon class="mdi mdi-account-multiple md-32 text-blue-sea no-margin"></md-icon>&nbsp;
					<span translate="bed.sleep.here.room"></span>
				</div>
				
				<md-divider></md-divider>
			
				<div ng-if="$ctrl.room.type.guestsCount.standard > 1" class="md-padding no-padding-top no-padding-bottom text-gray-light text-italic">
					<md-icon class="mdi mdi-information-outline md-14"></md-icon>&nbsp;
					<small>
						<span ng-if="$ctrl.maxCount != $ctrl.$$guestsCount.standard"><span translate="people.people.add.more"></span>.&nbsp;</span>
						<span ng-if="$ctrl.maxCount == $ctrl.$$guestsCount.standard"><span translate="people.people.edit"></span>.&nbsp;</span>
						<span translate="common.edit.no.extra.cost"></span>
					</small>
				</div>
			</div>
		
			<ch-room-edit-people
				people="$ctrl.room.people"
				max-people="$ctrl.room.type.people"
				max-count="$ctrl.room.type.guestsCount.standard"
				limits="$ctrl.peopleLimits"
				age-ranges="$ctrl.peopleAgeRanges"
				on-change="$ctrl.$onPeopleChange($people)">
			</ch-room-edit-people>
		</div>
		
		<div layout="column" class="margin-20-no-x-sides no-margin-top">
			<div ng-if="!$ctrl.$bedsConfig">
				<div class="md-subhead md-margin text-blue-sea">
					<md-icon class="mdi mdi-hotel md-32 text-blue-sea no-margin"></md-icon>&nbsp;
					<span flex>
						<ch-people-summary people="$ctrl.room.people"></ch-people-summary>
						<span class="text-lowercase">
							&nbsp;
							<span ng-if="$ctrl.$$guestsCount.standard == 1" translate="people.person.will.sleep"></span>
							<span ng-if="$ctrl.$$guestsCount.standard > 1" translate="people.people.will.sleep"></span>
							&nbsp;
							<span ng-if="$ctrl.room.beds.length == 1" translate="bed.bed.follow"></span>
							<span ng-if="$ctrl.room.beds.length > 1" translate="bed.beds.follow"></span>
						</span>
					</span>
				</div>
				
				<md-divider></md-divider>
			
				<div class="md-padding no-padding-top no-padding-bottom text-gray-light text-italic">
					<md-icon class="mdi mdi-information-outline md-14"></md-icon>&nbsp;
					<small ng-if="$ctrl.room.type.beds.length > $ctrl.room.beds.length">
						<span translate="bed.choise.type"></span>
						<span translate="common.edit.no.extra.cost"></span>
					</small>
					<small ng-if="$ctrl.room.type.beds.length <= $ctrl.room.beds.length">
						<span translate="bed.beds.principal.description"></span>
					</small>
				</div>
			</div>
			
			<div ng-if="$ctrl.$bedsConfig">
				<div class="md-subhead md-margin text-blue-sea">
					<md-icon class="mdi mdi-hotel md-32 text-blue-sea no-margin"></md-icon>&nbsp;
					<span flex translate="bed.beds.principal.list"></span>
				</div>
				
				<md-divider></md-divider>
			
				<div class="md-padding no-padding-top no-padding-bottom text-gray-light text-italic">
					<md-icon class="mdi mdi-information-outline md-14"></md-icon>&nbsp;
					<small>
						<span translate="bed.beds.principal.max.selectable.label1"></span>&nbsp;
						<span>{{$ctrl.room.type.bedCount}}</span>
						<span class="text-lowercase" ng-if="$ctrl.room.type.bedCount > 1" translate="bed.beds.principal"></span>
						<span class="text-lowercase" ng-if="$ctrl.room.type.bedCount == 1" translate="bed.bed.principal"></span>&nbsp;
						<span class="text-lowercase" translate="bed.beds.principal.max.selectable.label2"></span>
						<span>.&nbsp;<span translate="common.choice.no.extra.cost"></span>.</span>
					</small>
				</div>
			</div>
		
			<div>
				<ch-room-edit-beds
					room="$ctrl.room"
					nights="$ctrl.nights"
					beds="$ctrl.room.beds"
					total-beds="$ctrl.room.type.beds"
					min-count="1"
					max-count="$ctrl.room.type.bedCount"
					on-toggle-config="$ctrl.$onToggleBedsConfig($open)"
					on-add="$ctrl.$onBedAdd($bed)"
					on-remove="$ctrl.$onBedRemove($bed)"
					on-change="$ctrl.$onBedChange($bed)">
				</ch-room-edit-beds>
			</div>
		</div>
		
		<div ng-if="$ctrl.room.type.otherBeds.length" layout="column" class="margin-20-no-x-sides no-margin-top">
			<div ng-if="!$ctrl.$$extraBedsConfig">
				<div class="md-subhead md-margin text-blue-sea">
					<md-icon class="mdi mdi-plus md-18 text-blue-sea no-margin"></md-icon>
					<md-icon class="mdi mdi-hotel md-32 text-blue-sea no-margin"></md-icon>&nbsp;
					<span ng-show="$ctrl.room.otherBeds.length" translate="bed.beds.list.title"></span>
					<span ng-show="!$ctrl.room.otherBeds.length" translate="bed.beds.list.title.other"></span>
				
					<md-button ng-show="!$ctrl.room.otherBeds.length" class="button-small no-margin-top no-margin-bottom text-blue-sea" 
						aria-label="Show/Hide extra beds" ng-click="$ctrl.$toggleExtraBeds()">
						<small ng-if="!$ctrl.$$showExtraBeds">
							<md-icon class="mdi mdi-plus md-18 text-blue-sea"></md-icon>
							<span translate="common.add"></span>
						</small>
						<small ng-if="$ctrl.$$showExtraBeds">
							<md-icon class="mdi mdi-chevron-up md-18 text-blue-sea"></md-icon>
							<span translate="common.hide"></span>
						</small>
					</md-button>
				</div>
				
				<md-divider></md-divider>
				
				<div class="md-padding no-padding-top no-padding-bottom text-gray-light text-italic">
					<md-icon class="mdi mdi-information-outline md-14"></md-icon>&nbsp;
					<small ng-if="$ctrl.room.otherBeds.length">
						<span translate="bed.this.operation"></span>&nbsp;
						<span>{{$ctrl.$$guestsCount.extra}}</span>&nbsp;
						<span class="text-lowercase">
							<span ng-if="($ctrl.room.type.guestsCount.extra - $ctrl.$$guestsCount.extra) == 1" translate="people.person"></span>
							<span ng-if="($ctrl.room.type.guestsCount.extra - $ctrl.$$guestsCount.extra) != 1" translate="people.people"></span>&nbsp;
							<span translate="room.room.in.yours"></span>
						</span>
					</small>
					<small ng-if="!$ctrl.room.otherBeds.length">
						<span translate="bed.beds.add.more"></span>&nbsp;
						<span>{{$ctrl.room.type.maxOtherBeds - $ctrl.room.otherBeds.length}}</span>&nbsp;
						<span class="text-lowercase">
							<span ng-if="($ctrl.room.type.maxOtherBeds - $ctrl.room.otherBeds.length) == 1" translate="bed.bed"></span>
							<span ng-if="($ctrl.room.type.maxOtherBeds - $ctrl.room.otherBeds.length) != 1" translate="bed.beds"></span>&nbsp;
							<span translate="reservation.total.night"></span>&nbsp;
							<span>{{$ctrl.room.type.guestsCount.extra - $ctrl.$$guestsCount.extra}}</span>&nbsp;
							<span ng-if="($ctrl.room.type.guestsCount.extra - $ctrl.$$guestsCount.extra) == 1" translate="people.person"></span>
							<span ng-if="($ctrl.room.type.guestsCount.extra - $ctrl.$$guestsCount.extra) != 1" translate="people.people"></span>
						</span>
					</small>
				</div>
			</div>	
			
			<div ng-if="$ctrl.$$showExtraBeds" id="ch-room-edit-{{$ctrl.$$index}}-config-extra-beds">
				<ch-room-edit-beds
					room="$ctrl.room"
					nights="$ctrl.nights"
					beds="$ctrl.room.otherBeds"
					total-beds="$ctrl.room.type.otherBeds"
					max-count="$ctrl.room.type.maxOtherBeds"
					config-bed="true"
					people-age-ranges="$ctrl.peopleAgeRanges"
					on-toggle-config="$ctrl.$onToggleExtraBedsConfig($open)"
					on-add="$ctrl.$onExtraBedAdd($bed)"
					on-remove="$ctrl.$onExtraBedRemove($bed)"
					on-change="$ctrl.$onExtraBedChange($bed)">
				</ch-room-edit-beds>
				
				<div ng-if="$ctrl.room.otherBeds.length == $ctrl.room.type.maxOtherBeds" class="text-center">
					<md-icon class="mdi mdi-thumb-up-outline text-success"></md-icon>&nbsp;
					<span translate="bed.all.added.success.message" class="text-success"></span>
				</div>
			</div>
		</div>
		
		<div ng-if="$ctrl.$$includedServices.length" layout="column" class="margin-20-no-x-sides no-margin-top">
			<div>
				<div class="md-subhead md-margin text-blue-sea">
					<md-icon class="mdi mdi-checkbox-multiple-marked-circle-outline md-32 text-blue-sea no-margin"></md-icon>&nbsp;
					<span translate="room.facilities"></span>
				</div>
				
				<md-divider></md-divider>
				
				<div class="md-padding text-gray-light">
					<span translate="room.facilities.text"></span>&nbsp;
					<md-button class="no-margin button-small text-blue-sea" ng-click="$ctrl.$toggleIncludedServices()" aria-label="Show/Hide room facilities">
						<small>
							<span ng-if="!$ctrl.$$showIncluedServices" translate="common.show"></span>
							<span ng-if="$ctrl.$$showIncluedServices" translate="common.hide"></span>&nbsp;
							<md-icon class="mdi text-blue-sea" ng-class="$ctrl.$$showIncluedServices ? 'mdi-chevron-up' : 'mdi-chevron-down'"></md-icon>
						</small>
					</md-button>
				</div>
			</div>
			
			<div ng-if="$ctrl.$$showIncluedServices" class="layout-column flex-100  md-padding no-padding-top">
				<div layout layout-wrap layout-padding-sm>
					<div ng-repeat="service in $ctrl.$$includedServices track by $index" class="flex-100 flex-gt-sm-50">
						<md-icon ng-if="$ctrl.$$servicesIcons[service.type.nameKey]" class="{{$ctrl.$$servicesIcons[service.type.nameKey]}} text-success material-icons"></md-icon>
						<md-icon ng-if="!$ctrl.$$servicesIcons[service.type.nameKey]" class="mdi mdi-check text-success material-icons"></md-icon>&nbsp;
						<span translate="{{service.type.nameKey}}"></span>
					</div>
				</div>
			</div>	
		</div>
		
		<div ng-if="$ctrl.$$freeServices.length" layout="column" class="margin-20-no-x-sides no-margin-top">
			<div>
				<div class="md-subhead md-margin text-blue-sea">
					<md-icon class="mdi mdi-gift md-32 text-blue-sea no-margin"></md-icon>&nbsp;
					<span translate="service.services.free.text"></span>
				</div>
				
				<md-divider></md-divider>
				
				<div class="md-padding no-padding-top no-padding-bottom text-gray-light text-italic">
					<md-icon class="mdi mdi-information-outline md-14"></md-icon>&nbsp;
					<small translate="service.services.free.info"></small>
				</div>
			</div>
		
			<div>
				<ch-room-edit-services
					room="$ctrl.room"
					nights="$ctrl.nights"
					services="$ctrl.room.services"
					total-services="$ctrl.$$freeServices"
					preview-size="4"
					people-age-ranges="$ctrl.peopleAgeRanges"
					on-add="$ctrl.$onServiceAdd($service)"
					on-remove="$ctrl.$onServiceRemove($service)"
					on-change="$ctrl.$onServiceChange($service)">
				</ch-room-edit-services>
			</div>
		</div>
		
		<div ng-if="$ctrl.$$paymentServices.length" layout="column" class="margin-20-no-x-sides no-margin-top">
			<div>
				<div class="md-subhead md-margin text-blue-sea">
					<md-icon class="mdi mdi-currency-usd md-32 text-blue-sea no-margin"></md-icon>&nbsp;
					<span translate="service.services.popular.text"></span>
				</div>
				
				<md-divider></md-divider>
			
				<div class="md-padding no-padding-top no-padding-bottom text-gray-light text-italic">
					<md-icon class="mdi mdi-information-outline md-14"></md-icon>&nbsp;
					<small translate="service.services.popular.info"></small>
				</div>
			</div>
			
			<div>
				<ch-room-edit-services
					room="$ctrl.room"
					nights="$ctrl.nights"
					services="$ctrl.room.services"
					total-services="$ctrl.$$paymentServices"
					preview-size="4"
					people="$ctrl.room.people"
					people-age-ranges="$ctrl.peopleAgeRanges"
					on-add="$ctrl.$onServiceAdd($service)"
					on-remove="$ctrl.$onServiceRemove($service)"
					on-change="$ctrl.$onServiceChange($service)">
				</ch-room-edit-services>
			</div>
		</div>
		
		<div layout="column" class="margin-20-no-x-sides no-margin-top">
			<div>
				<div class="md-subhead md-margin text-blue-sea">
					<md-icon class="mdi mdi-account-card-details md-32 text-blue-sea no-margin"></md-icon>&nbsp;
					<span translate="reservation.text.identityDocuments.list"></span>
				</div>
				
				<md-divider></md-divider>
			
				<div class="md-padding no-padding-top no-padding-bottom">
					<span translate="reservation.text.identityDocuments.label"></span>&nbsp;
					
					<md-button class="no-margin button-small text-blue-sea text-small" 
						ng-disabled="$ctrl.$$showIdentityDocuments" ng-click="$ctrl.$toggleIdentityDocuments()" aria-label="Hide/show room facilities">
						<span ng-if="!$ctrl.$$showIdentityDocuments">
							<span ng-if="!$ctrl.room.identityDocuments.length" translate="reservation.text.identityDocuments.enter"></span>
							<span ng-if="$ctrl.room.identityDocuments.length" translate="reservation.text.identityDocuments.show"></span>
						</span>
						<span ng-if="$ctrl.$$showIdentityDocuments" translate="reservation.text.identityDocuments.hide"></span>
						<md-icon class="mdi text-blue-sea" ng-class="$ctrl.$$showIdentityDocuments ? 'mdi-chevron-up' : 'mdi-chevron-down'"></md-icon>
					</md-button>
				</div>
			</div>
			
			<div ng-if="$ctrl.$$showIdentityDocuments" id="ch-room-edit-{{$ctrl.$$index}}-config-documents">
				<ch-room-edit-identity-documents
					room="$ctrl.room"
					nights="$ctrl.nights"
					documents="$ctrl.room.identityDocuments"
					people="$ctrl.room.people"
					people-age-ranges="$ctrl.peopleAgeRanges"
					on-add="$ctrl.$onIdentityDocumentAdd($document)"
					on-remove="$ctrl.$onIdentityDocumentRemove($document)"
					on-change="$ctrl.$onIdentityDocumentChange($document)">
				</ch-room-edit-identity-documents>
<!-- 						<div th:replace="public/partials/hotel/content/book/rooms/guests/guests-details"></div> -->
			</div>
		</div>
		
		<div layout="column">
			<md-button class="text-blue-sea text-small text-wrap row-1" ng-click="$ctrl.$toggleRoomConfig(false)" aria-label="Close room config">
				<span translate="room.config.close"></span>
				<md-icon class="mdi mdi-chevron-up md-18 text-blue-sea"></md-icon>
			</md-button>
		</div>
	</div>
</div>