<ng-form name="chRatesheetRateForm" flex layout="column">
	<div ng-if="$ctrl.rate.hotelClosed" layout layout-align="center center" flex>
		<md-button aria-label="Closed" class="md-icon-button no-margin no-padding auto-height cursor-help" tabindex="-1">
			<md-icon class="mdi mdi-lock md-18"></md-icon>
			<md-tooltip><span translate="hotel.closed"></span></md-tooltip>
		</md-button>
	</div>
	<div ng-if="!$ctrl.rate.hotelClosed">
		<div layout="column" layout-align="center center">
			<div ng-if="!$ctrl.hideRate">
				<ch-ratesheet-rate-edit-amount
					rate="$ctrl.rate[$ctrl.$$rateDataKey]"
					type="{{$ctrl.type}}"
					ng-required="true"
					ng-disabled="$ctrl.rate.pastDate || $ctrl.rate.roomClosed || !$ctrl.rate[$ctrl.$$rateDataKey].enabled"
					validate-on-init="true"
					update-on="blur"
					on-change="$ctrl.$saveRate()">
				</ch-ratesheet-rate-edit-amount>
         	</div>
         	
			<div ng-if="!$ctrl.hideRestrictions">
				<md-input-container class="minimal-input">
					<label flex><span translate="common.nights"></span></label>
		            <input type="number" class="text-center" name="minStay" ng-model="$ctrl.rate[$ctrl.$$rateDataKey].minStay" 
		            	ng-disabled="$ctrl.rate.pastDate || $ctrl.rate.roomClosed || !$ctrl.rate[$ctrl.$$rateDataKey].enabled" min="1" step="1"	
		            	ng-blur="$ctrl.$saveMinStay()" tabindex="2">
	            	<div ng-messages="chRatesheetRateForm.minStay.$error">
		          		<div ng-message="min"><span translate="error.field.min" translate-values="{num: 1}"></span></div>
			        </div>
	          	</md-input-container>
	   		</div>
		</div>
	</div>
</ng-form>