<ng-form name="chRatesheetPromotionForm" flex layout="column">
	<div ng-if="$ctrl.promotion.hotelClosed" flex layout="column">
		<md-button md-no-ink class="md-square-button minimal-button no-margin forced cursor-help bg-gray-medium" 
			tabindex="-1" aria-label="Hotel closed">
			<md-icon class="mdi mdi-home-lock md-32"></md-icon>
			<md-tooltip><span translate="hotel.closed"></span></md-tooltip>
		</md-button>
	</div>
	
	<div ng-if="!$ctrl.promotion.valid && !$ctrl.promotion.hotelClosed" layout layout-align="center center" flex>
		<md-icon class="mdi mdi-block-helper md-18"></md-icon>
	</div>

	<div ng-if="$ctrl.promotion.valid && !$ctrl.promotion.hotelClosed">								
		<div ng-switch="$ctrl.type" layout="column" layout-align="center center">
			<div ng-switch-when="MINIMUM_STAY">
				<md-input-container flex class="no-margin-bottom minimal-input">
	          		<label><span translate="common.nights"></span></label>
		            <input value="{{$ctrl.promotion.minStay}}" class="text-center" disabled readonly>
	          	</md-input-container>
	    	</div>
	    	
	    	<div ng-switch-default>
				<md-input-container flex class="no-margin-bottom minimal-input">
					<label><span translate="common.nights"></span></label>
		            <input type="number" class="text-center" name="minStay" ng-model="$ctrl.promotion.minStay" ng-disabled="$ctrl.promotion.pastDate || $ctrl.promotion.roomClosed || !$ctrl.promotion.enabled" min="0" step="1"
		            	ng-blur="$ctrl.$saveMinStay()" tabindex="2">
	            	<div ng-messages="chRatesheetPromotionForm.minStay.$error">
		          		<div ng-message="min"><span translate="error.field.min" translate-values="{num: 1}"></span></div>
			        </div>
	          	</md-input-container>
			</div>
        </div>
	</div>
</ng-form>