<div flex layout="column">
	<div ng-if="$ctrl.availability.hotelClosed" layout layout-align="center center" flex>
		<md-button class="md-icon-button no-margin no-padding auto-height cursor-help" 
			tabindex="-1" aria-label="Availability">
			<md-icon class="mdi mdi-lock md-18"></md-icon>
			<md-tooltip><span translate="hotel.closed"></span></md-tooltip>
		</md-button>
	</div>
	
	<div ng-if="!$ctrl.availability.hotelClosed" flex layout="column">
		<md-button ng-disabled="$ctrl.availability.pastDate || $ctrl.availability.roomClosed" tabindex="-1"
			aria-label="Availability" ng-click="$ctrl.$click($event)" class="md-square-button no-margin row-1 forced" 
			ng-class="{'minimal-button': !$ctrl.$mdMedia('gt-xs'),
				'bg-success': $ctrl.availability.counter.actual > 0 && !$ctrl.availability.hotelClosed && !$ctrl.availability.roomClosed, 
				'bg-danger': $ctrl.availability.roomClosed, 
				'bg-warn': $ctrl.availability.counter.actual <= 0 && !$ctrl.availability.hotelClosed && !$ctrl.availability.roomClosed}">																		
			<div layout layout-wrap layout-align="center center" class="no-margin-x-sides" ng-class="{'text-small': $ctrl.$mdMedia('xs'), 
				'layout-margin-sm': $ctrl.availability.counter.actual <= 0, 'md-margin': $ctrl.availability.counter.actual > 0}">
				<div ng-if="$ctrl.availability.counter.actual > 0">
					<strong>{{$ctrl.availability.counter.actual}}</strong><small>/{{$ctrl.availability.counter.total}}</small>
				</div>
				<div ng-if="$ctrl.availability.counter.actual <= 0">
					<md-icon class="mdi mdi-calendar-remove md-18 text-white"></md-icon>
				</div>
			</div>
			
			<md-tooltip>
				<div ng-if="$ctrl.availability.counter.actual > 0">
					<span ng-if="!$ctrl.availability.pastDate" translate="ratesheet.availability.edit">Edit availability</span>
					<span ng-if="$ctrl.availability.pastDate && $ctrl.availability.counter.actual == 1" translate="ratesheet.availability.rooms.one"></span>
					<span ng-if="$ctrl.availability.pastDate && $ctrl.availability.counter.actual > 1" translate="ratesheet.availability.rooms" translate-values="{count: $ctrl.availability.counter.actual}"></span>
				</div>
				<div ng-if="$ctrl.availability.counter.actual <= 0">
					<span translate="hotel.availability.none"></span>
				</div>
			</md-tooltip>
		</md-button>
	</div>
</div>