<div flex layout="column">
	<div ng-if="$ctrl.status.hotelClosed" layout layout-align="center center" flex>
		<md-button md-no-ink class="md-icon-button no-margin no-padding auto-height cursor-help" 
			tabindex="-1" aria-label="Hotel closed">
			<md-icon class="mdi mdi-lock md-18"></md-icon>
			<md-tooltip><span translate="hotel.closed"></span></md-tooltip>
		</md-button>
	</div>
	
	<div ng-if="!$ctrl.status.hotelClosed" flex layout="column">
		<md-button md-no-ink ng-disabled="$ctrl.status.pastDate || ($ctrl.status.counter.actual <= 0 && !$ctrl.status.roomClosed)" 
			ng-click="$ctrl.$toggleRoomTypeClosing($event)" aria-label="Enable/Disable all room rates" tabindex="-1"
			class="md-square-button minimal-button no-margin forced" 
			ng-class="{'bg-success': !$ctrl.status.roomClosed && $ctrl.status.counter.actual > 0, 
				'bg-danger': $ctrl.status.roomClosed, 
				'bg-warn': !$ctrl.status.roomClosed && $ctrl.status.counter.actual <= 0}">
			
			<div layout-margin-sm>
				<div ng-if="$ctrl.status.roomClosed">
					<md-icon class="mdi mdi-lock md-18 text-white"></md-icon>
				</div>
				
				<div ng-if="!$ctrl.status.roomClosed">
					<strong>
						<span ng-if="$ctrl.status.counter.actual > 0">
							&nbsp;
						</span>
						<span ng-if="$ctrl.status.counter.actual <= 0">
							<md-icon class="mdi mdi-calendar-remove md-18 text-white"></md-icon>
						</span>
					</strong>
				</div>
			</div>
			
			<md-tooltip>
				<span ng-if="$ctrl.status.roomClosed" translate="ratesheet.rate.room.open"></span>
				<span ng-if="!$ctrl.status.roomClosed">
					<span  ng-if="$ctrl.status.counter.actual > 0" translate="ratesheet.rate.room.close"></span>
					<span ng-if="$ctrl.status.counter.actual <= 0" translate="hotel.availability.none"></span>
				</span>
			</md-tooltip>
		</md-button>
	</div>	
</div>