<div flex layout="column">
	<div ng-if="$ctrl.header.hotelClosed" layout layout-align="center center" flex>
		<md-button class="md-icon-button no-margin no-padding auto-height cursor-help" 
			tabindex="-1" aria-label="Availability">
			<md-icon class="mdi mdi-lock md-18"></md-icon>
			<md-tooltip><span translate="hotel.closed"></span></md-tooltip>
		</md-button>
	</div>
	
	<div ng-if="!$ctrl.header.hotelClosed" flex layout="column">
		<md-button ng-disabled="$ctrl.header.pastDate || $ctrl.header.availability.actual <= 0" 
			ng-click="$ctrl.$toggleRoomTypeClosing($event)" aria-label="Enable/Disable all room rates" tabindex="-1"
			class="no-margin row-1 forced" ng-class="{'minimal-button': !$ctrl.$mdMedia('gt-xs'), 
				'bg-success': !$ctrl.header.roomClosed && $ctrl.header.availability.actual > 0, 
				'bg-danger': $ctrl.header.roomClosed, 
				'bg-warn': !$ctrl.header.roomClosed && $ctrl.header.availability.actual == 0, 
				'bg-gray-base text-white': !$ctrl.header.roomClosed && $ctrl.header.availability.actual < 0}">
			
			<div class="text-small" ng-if="$ctrl.header.roomClosed">
				<strong hide-xs translate="common.closed.female"></strong>
				<span hide show-xs><md-icon class="mdi mdi-lock md-24 text-white"></md-icon></span>
				<md-tooltip>
					<span translate="ratesheet.rate.room.open"></span>													
				</md-tooltip>
			</div>
			
			<div class="text-small" ng-if="!$ctrl.header.roomClosed">
				<strong>
					<span ng-if="$ctrl.header.availability.actual > 0">
						<span hide-xs translate="common.opened.female"></span>
						<span hide show-xs><md-icon class="mdi mdi-lock-open md-24 text-white"></md-icon></span>
					</span>
					<span ng-if="$ctrl.header.availability.actual == 0">
						<span hide-xs translate="hotel.availability.none.abbr"></span>
						<span hide show-xs><md-icon class="mdi mdi-close md-24 text-white"></md-icon></span>
					</span>
					<span ng-if="$ctrl.header.availability.actual < 0">
						<span hide-xs translate="ratesheet.overbooking"></span>
						<span hide show-xs><md-icon class="mdi mdi-block-helper md-24 text-white"></md-icon></span>
					</span>
				</strong>
				
				<md-tooltip>
					<span ng-if="$ctrl.header.availability.actual > 0" translate="ratesheet.rate.room.close"></span>
					<span ng-if="$ctrl.header.availability.actual == 0" translate="hotel.availability.none"></span>
					<span ng-if="$ctrl.header.availability.actual < 0" translate="ratesheet.overbooking"></span>
				</md-tooltip>
			</div>
		</md-button>
	</div>	
</div>