<div flex layout="column">
	<div ng-if="$ctrl.rate.hotelClosed" flex layout="column">
		<md-button md-no-ink class="md-square-button minimal-button no-margin forced cursor-help bg-gray-medium" 
			tabindex="-1" aria-label="Hotel closed">
			<md-icon class="mdi mdi-home-lock md-32"></md-icon>
			<md-tooltip><span translate="hotel.closed"></span></md-tooltip>
		</md-button>
	</div>
	
	<div ng-if="!$ctrl.rate.hotelClosed" layout="column" flex>
		<md-button md-no-ink ng-disabled="$ctrl.rate.pastDate || ($ctrl.rate.availability.actual <= 0 && !$ctrl.rate.roomClosed)" 
			ng-click="$ctrl.$toggleRateClosing($event)" aria-label="Enable/Disable rate"
			class="md-square-button minimal-button no-margin forced" 
			ng-class="{'bg-success': $ctrl.rate.amount.finalAmount && !$ctrl.rate.roomClosed && !$ctrl.rate.closed, 
				'only-border': !$ctrl.rate.amount.finalAmount && !$ctrl.rate.roomClosed && !$ctrl.rate.closed,
				'bg-danger': $ctrl.rate.roomClosed || $ctrl.rate.closed}" tabindex="-1">
			
			<div>
				<div ng-if="!$ctrl.rate.roomClosed && !$ctrl.rate.closed">
					<div ng-if="!$ctrl.rate.amount.finalAmount">
						<md-icon class="mdi mdi-currency-usd-off md-24"></md-icon>
					</div>
					<div ng-if="$ctrl.rate.amount.finalAmount">
						&nbsp;
						<md-icon ng-if="$ctrl.rate.minLOS > 1 || $ctrl.rate.maxLOS > 1" class="mdi mdi-asterisk md-18 text-white">
							<md-tooltip>
								<span translate="ratesheet.restrictions.rate.exists"></span>
							</md-tooltip>
						</md-icon>
					</div>
				</div>
				
				<div ng-if="$ctrl.rate.roomClosed || $ctrl.rate.closed">&nbsp;</div>
			</div>
			
			<md-tooltip ng-if="!$ctrl.rate.pastDate">
				<div ng-if="!$ctrl.rate.amount.finalAmount">
					<span translate="ratesheet.rates.none"></span>
				</div>
				
				<div>
					<span ng-if="$ctrl.rate.roomClosed || $ctrl.rate.closed" translate="ratesheet.rate.enable"></span>
					<span ng-if="!$ctrl.rate.roomClosed && !$ctrl.rate.closed" translate="ratesheet.rate.disable"></span>
				</div>
			</md-tooltip>
		</md-button>
	</div>
</div>