<div flex layout="column">
	<div ng-if="$ctrl.rate.hotelClosed" layout layout-align="center center" flex>
		<md-button aria-label="Closed" class="md-icon-button no-margin no-padding auto-height cursor-help" tabindex="-1">
			<md-icon class="mdi mdi-lock md-18"></md-icon>
			<md-tooltip><span translate="hotel.closed"></span></md-tooltip>
		</md-button>
	</div>
	<div ng-if="!$ctrl.rate.hotelClosed">
		<div layout="column" flex>
			<md-button ng-disabled="$ctrl.rate.pastDate || ($ctrl.rate.availability.actual <= 0 && !$ctrl.rate.roomClosed)" 
				ng-click="$ctrl.$toggleRateClosing($event)" aria-label="Enable/Disable rate"
				class="md-square-button no-margin button-label forced" ng-class="{'minimal-button': !$ctrl.$mdMedia('gt-xs'), 
					'bg-success': !$ctrl.rate.roomClosed && $ctrl.rate[$ctrl.$$rateDataKey].enabled && $ctrl.rate[$ctrl.$$rateDataKey].amount.finalAmount && $ctrl.rate.availability.actual > 0, 
					'bg-warn': !$ctrl.rate.roomClosed && $ctrl.rate[$ctrl.$$rateDataKey].enabled && (!$ctrl.rate[$ctrl.$$rateDataKey].amount.finalAmount || $ctrl.rate.availability.actual <= 0),
					'bg-danger': $ctrl.rate.roomClosed || !$ctrl.rate[$ctrl.$$rateDataKey].enabled}" tabindex="-1">
				<div ng-show="!$ctrl.rate.roomClosed && $ctrl.rate[$ctrl.$$rateDataKey].enabled" flex layout layout-xs="column" layout-align="center center">
					<div flex ng-show="$ctrl.rate[$ctrl.$$rateDataKey].amount.finalAmount">
						<span ng-class="{'text-small': $ctrl.$mdMedia('xs')}">{{$ctrl.rate[$ctrl.$$rateDataKey].amount.finalAmount|currency:'€'}}</span>
					</div>
					<div ng-if="!$ctrl.rate[$ctrl.$$rateDataKey].amount.finalAmount">
						<md-icon class="mdi mdi-currency-usd-off text-white md-24"></md-icon>
					</div>
					<small ng-show="$ctrl.rate[$ctrl.$$rateDataKey].amount.finalAmount && $ctrl.rate[$ctrl.$$rateDataKey].minStay > 1">
						<md-icon class="mdi mdi-calendar-plus md-14 text-white"></md-icon>
						<md-tooltip>
							<span translate="ratesheet.rate.minstay" translate-value-count="{{$ctrl.rate[$ctrl.$$rateDataKey].minStay}}"></span>
						</md-tooltip>
					</small>
				</div>
				
				<md-tooltip>
					<div ng-if="!$ctrl.rate[$ctrl.$$rateDataKey].amount.finalAmount">
						<span translate="ratesheet.rates.none"></span>
					</div>
					
					<div ng-if="!$ctrl.rate.pastDate">
						<div ng-if="$ctrl.rate.roomClosed || !$ctrl.rate[$ctrl.$$rateDataKey].enabled">
							<span translate="ratesheet.rate.enable"></span>
						</div>
						
						<div ng-if="!$ctrl.rate.roomClosed && $ctrl.rate[$ctrl.$$rateDataKey].enabled">
							<span ng-if="$ctrl.rate.availability.actual > 0" translate="ratesheet.rate.disable"></span>
							<span ng-if="$ctrl.rate.availability.actual <= 0" translate="hotel.availability.none"></span>
						</div>
					</div>
				</md-tooltip>
			</md-button>
		</div>
	</div>
</div>