<div ng-if="!$ctrl.service.inEdit" class="layout-row md-margin border-radius" ng-class="$ctrl.isChecked ? 'bg-success' : 'only-border'">
	<div class="layout-column flex">
		<md-button class="no-margin" ng-click="$ctrl.$toggle()" aria-label="Toggle service">
			<div class="layout-row layout-padding layout-align-start-center" ng-class="{'no-padding': $ctrl.isChecked}">
				<div>
					<md-icon class="mdi mdi-checkbox-marked-circle-outline text-white md-24 no-padding-y-sides no-padding-right" ng-if="$ctrl.isChecked"></md-icon>
				</div>
				<div class="layout-column row-mini text-ellipsis text-wrap text-left">
					<span translate="{{$ctrl.type.nameKey}}"></span>
					<small class="text-initial" ng-if="$ctrl.isChecked && $ctrl.service.$$description">{{$ctrl.service.$$description}}</small>
				</div>
			</div>
		</md-button>
	</div>
	
	<md-divider ng-if="$ctrl.isChecked" class="bg-white md-margin ng-scope no-margin-x-sides"></md-divider>
	
	<div ng-if="$ctrl.isChecked" class="layout-column layout-align-center-center">
		<md-button class="auto-height layout-padding minimal-button no-margin row-mini" ng-click="$ctrl.$edit()" aria-label="Edit">
			<md-icon class="mdi mdi-pencil md-18 text-white"></md-icon>
			<md-tooltip><span translate="common.edit"></span></md-tooltip>
		</md-button>
	</div>
</div>
<ng-form name="$ctrl.serviceForm">
	<div ng-if="$ctrl.service.inEdit" class="border-radius md-margin ng-scope only-border fadeInUp">
		<div class="bg-gray-lighter layout-align-start-center layout-padding layout-row no-padding">
			<span class="flex md-subhead" translate="{{$ctrl.service.type.nameKey}}"></span>
			<md-button class="auto-height auto-width layout-padding no-margin" ng-click="$ctrl.$cancel()" aria-label="Cancel">
				<md-icon class="mdi mdi-close no-padding-y-sides"></md-icon>
				<md-tooltip class="hide show-gt-sm"><span translate="common.close"></span></md-tooltip>
			</md-button>
		</div>
		<md-divider></md-divider>
		<div>
				
			<div class="layout-row layout-wrap">
				<div class="layout-column flex-100 flex-gt-sm-50 layout-padding">
					<md-input-container class="md-block no-padding">
				        <label translate-once="service.type.category.question">category</label>
				        <md-select ng-model="$ctrl.service.category" name="category" ng-required="true">
				          <md-option value="ROOM"><span translate-once="service.type.in.rooms"></span></md-option>
				          <md-option value="HOTEL"><span translate-once="service.type.in.hotel"></span></md-option>
				          <md-option value="EXTERNAL" ng-if="$ctrl.advanced"><span translate-once="service.type.external"></span></md-option>
				        </md-select>
						<div ng-messages="$ctrl.serviceForm.category.$error">
				        	<div ng-message="required"><span translate-once="error.required"></span></div>
					    </div>
					</md-input-container>
				</div>
				<div class="layout-column flex-100 flex-gt-sm-50 layout-padding">
					<md-input-container class="md-block no-padding">
				        <label translate-once="service.type.bookability.question">bookability</label>
				        <md-select ng-model="$ctrl.service.bookability" name="bookability" ng-required="true">
				          <md-option value="INCLUDED" ng-if="$ctrl.service.category != 'EXTERNAL'">
				          		<span translate-once="service.type.included"></span>
				          </md-option>
				          <md-option value="BOOKABLE"><span translate-once="service.type.bookable.alt"></span></md-option>
				        </md-select>
						<div ng-messages="$ctrl.serviceForm.bookability.$error">
				        	<div ng-message="required"><span translate-once="error.required"></span></div>
					    </div>
					</md-input-container>
				</div>
			</div>
			<div class="layout-row layout-wrap" ng-if="$ctrl.service.bookability != 'INCLUDED'">
				<div class="layout-column flex-100 flex-gt-sm-50 layout-padding">
					<md-input-container class="md-block no-padding">
						<label translate-once="service.type.payment.type.question.alt">payment type</label>
				        <md-select ng-model="$ctrl.service.paymentType" name="paymentType" ng-required="true">
					          <md-option value="FREE" ng-selected="$ctrl.service.paymentType == 'FREE' || !$ctrl.service.paymentType">
					          		<span translate-once="service.type.payment.free"></span>
					          </md-option>
					          <md-option value="SINGLE" ng-if="$ctrl.service.bookability == 'BOOKABLE'">
					          		<span translate-once="service.type.payment.single.alt"></span>
					          </md-option>
					          <md-option value="PER_PERSON" ng-if="$ctrl.service.bookability == 'BOOKABLE'">
					          		<span translate-once="service.type.payment.person"></span>
					          		
					          </md-option>
				        </md-select>
						<div ng-messages="$ctrl.serviceForm.paymentType.$error">
				        	<div ng-message="required"><span translate-once="error.required"></span></div>
					    </div>
					</md-input-container>
				</div>
				<div class="layout-column flex-100 flex-gt-sm-50 layout-padding" ng-if="$ctrl.service.paymentType && $ctrl.service.paymentType != 'FREE'">
					<md-input-container class="md-block no-padding">
						<label translate-once="service.type.payment.frequency">Payment Frequency</label>
				        <md-select ng-model="$ctrl.service.frequency" name="frequency" ng-required="true">
							 <md-option value="LUMP_SUM"><span translate-once="service.type.payment.LUMP_SUM"></span></md-option>
							 <md-option value="DAILY"><span translate-once="service.type.payment.DAILY"></span></md-option>
							 <md-option value="MONTHLY"><span translate-once="service.type.payment.MONTHLY"></span></md-option>
							 <md-option value="YEARLY"><span translate-once="service.type.payment.YEARLY"></span></md-option>
				        </md-select>
						<div ng-messages="$ctrl.serviceForm.frequency.$error">
				        	<div ng-message="required"><span translate-once="error.required"></span></div>
					    </div>
					</md-input-container>
				</div>
			</div>

			<div class="layout-row layout-wrap no-padding" ng-if="$ctrl.service.bookability != 'INCLUDED' &&  $ctrl.service.paymentType && $ctrl.service.paymentType != 'FREE'">
				<div class="layout-column flex-100">
					<!-- SINGLE -->
					<div class="layout-row layout-padding layout-align-end-center" ng-if="$ctrl.service.paymentType == 'SINGLE'">
						<span class="text-capitalize flex-20" translate-once="service.type.payment.single.alt" style="margin-bottom: 22px;"></span>
						<md-input-container class="flex-50">
							<label translate-once="common.price">Price</label>
							<input type="number" name="payment.SINGLE.price" required ng-model="$ctrl.service.pay['SINGLE'].price" placeholder="{{::('service.type.payment.free'|translate)}}" min="0" step="0.5" ng-pattern="REGEXP.price">
							
							<div ng-messages="$ctrl.serviceForm.payment.SINGLE.price.$error">
								<div ng-message="required"><span translate-once="error.required"></span></div>
				        		<div ng-message="min"><span translate-once="error.field.min" translate-values="{num: 0}"></span></div>
				        		<div ng-message="pattern"><span translate-once="error.field.generic.invalid"></span></div>
					      	</div>
						</md-input-container>
						<md-input-container class="flex-30">
							<label><span translate-once="billing.vat.tax">VAT</span> (%)</label>
							<input type="number" name="payment.SINGLE.vat" ng-model="$ctrl.service.pay['SINGLE'].vat" placeholder="%" min="0" step="1" max="100" ng-pattern="REGEXP.price">
							
							<div ng-messages="$ctrl.serviceForm.payment.SINGLE.vat.$error">
				        		<div ng-message="min"><span translate-once="error.field.min" translate-values="{num: 0}"></span></div>
				        		<div ng-message="max"><span translate-once="error.field.max" translate-values="{num: 100"}></span></div>
				        		<div ng-message="pattern"><span translate-once="error.field.generic.invalid"></span></div>
					      	</div>
						</md-input-container>
					</div>
					<!-- PER_ADULT -->
					<div class="layout-row layout-padding layout-align-end-center" ng-if="$ctrl.service.paymentType == 'PER_PERSON'">
						<span class="text-capitalize flex-20" translate-once="people.adult" style="margin-bottom: 22px;"></span>
						<md-input-container class="flex-50">
							<label translate-once="common.price">Price</label>
							<input type="number" name="payment.PER_ADULT.price" required ng-model="$ctrl.service.pay['PER_ADULT'].price" placeholder="{{::('service.type.payment.free'|translate)}}"  min="0" step="0.5" ng-pattern="REGEXP.price">
							
							<div ng-messages="$ctrl.serviceForm.payment.PER_ADULT.price.$error">
								<div ng-message="required"><span translate-once="error.required"></span></div>
				        		<div ng-message="min"><span translate-once="error.field.min" translate-values="{num: 0}"></span></div>
				        		<div ng-message="pattern"><span translate-once="error.field.generic.invalid"></span></div>
					      	</div>
						</md-input-container>
						<md-input-container class="flex-30">
							<label><span translate-once="billing.vat.tax">VAT</span> (%)</label>
							<input type="number" name="payment.PER_ADULT.vat" ng-model="$ctrl.service.pay['PER_ADULT'].vat" placeholder="%" min="0" step="1" max="100" ng-pattern="REGEXP.price">
							
							<div ng-messages="$ctrl.serviceForm.payment.PER_ADULT.vat.$error">
				        		<div ng-message="min"><span translate-once="error.field.min" translate-values="{num: 0}"></span></div>
				        		<div ng-message="max"><span translate-once="error.field.max" translate-values="{num: 100"}></span></div>
				        		<div ng-message="pattern"><span translate-once="error.field.generic.invalid"></span></div>
					      	</div>
						</md-input-container>
					</div>
					<!-- PER_BOY -->
					<div class="layout-row layout-padding layout-align-end-center" ng-if="$ctrl.service.paymentType == 'PER_PERSON'">
						<span class="text-capitalize flex-20" translate-once="people.boy" style="margin-bottom: 22px;"></span>
						<md-input-container class="flex-50">
							<label translate-once="common.price">Price</label>
							<input type="number" name="payment.PER_BOY.price" ng-model="$ctrl.service.pay['PER_BOY'].price" placeholder="{{::('service.type.payment.free'|translate)}}"  min="0" step="0.5" ng-pattern="REGEXP.price">
							
							<div ng-messages="$ctrl.serviceForm.payment.PER_BOY.price.$error">
				        		<div ng-message="min"><span translate-once="error.field.min" translate-values="{num: 0}"></span></div>
				        		<div ng-message="pattern"><span translate-once="error.field.generic.invalid"></span></div>
					      	</div>
						</md-input-container>
						<md-input-container class="flex-30">
							<label><span translate-once="billing.vat.tax">VAT</span> (%)</label>
							<input type="number" name="payment.PER_BOY.vat" ng-model="$ctrl.service.pay['PER_BOY'].vat" placeholder="%"  min="0" step="1" max="100" ng-pattern="REGEXP.price">
							
							<div ng-messages="$ctrl.serviceForm.payment.PER_BOY.vat.$error">
				        		<div ng-message="min"><span translate-once="error.field.min" translate-values="{num: 0}"></span></div>
				        		<div ng-message="max"><span translate-once="error.field.max" translate-values="{num: 100"}></span></div>
				        		<div ng-message="pattern"><span translate-once="error.field.generic.invalid"></span></div>
					      	</div>
						</md-input-container>
					</div>
					<!-- PER_CHILD -->
					<div class="layout-row layout-padding layout-align-end-center" ng-if="$ctrl.service.paymentType == 'PER_PERSON'">
						<span class="text-capitalize flex-20" translate-once="people.child" style="margin-bottom: 22px;"></span>
						<md-input-container class="flex-50">
							<label translate-once="common.price">Price</label>
							<input type="number" name="payment.PER_CHILD.price" ng-model="$ctrl.service.pay['PER_CHILD'].price" placeholder="{{::('service.type.payment.free'|translate)}}"  min="0" step="0.5" ng-pattern="REGEXP.price">
							
							<div ng-messages="$ctrl.serviceForm.payment.PER_CHILD.price.$error">
				        		<div ng-message="min"><span translate-once="error.field.min" translate-values="{num: 0}"></span></div>
				        		<div ng-message="pattern"><span translate-once="error.field.generic.invalid"></span></div>
					      	</div>
						</md-input-container>
						<md-input-container class="flex-30">
							<label><span translate-once="billing.vat.tax">VAT</span> (%)</label>
							<input type="number" name="payment.PER_CHILD.vat" ng-model="$ctrl.service.pay['PER_CHILD'].vat" placeholder="%" min="0" step="1" max="100" ng-pattern="REGEXP.price">
							
							<div ng-messages="$ctrl.serviceForm.payment.PER_CHILD.vat.$error">
				        		<div ng-message="min"><span translate-once="error.field.min" translate-values="{num: 0}"></span></div>
				        		<div ng-message="max"><span translate-once="error.field.max" translate-values="{num: 100"}></span></div>
				        		<div ng-message="pattern"><span translate-once="error.field.generic.invalid"></span></div>
					      	</div>
						</md-input-container>
					</div>
					<!-- PER_KID -->
					<div class="layout-row layout-padding layout-align-end-center" ng-if="$ctrl.service.paymentType == 'PER_PERSON'">
						<span class="text-capitalize flex-20" translate-once="people.kid" style="margin-bottom: 22px;"></span>
						<md-input-container class="flex-50">
							<label translate-once="common.price">Price</label>
							<input type="number" name="payment.PER_KID.price" ng-model="$ctrl.service.pay['PER_KID'].price" placeholder="{{::('service.type.payment.free'|translate)}}"  min="0" step="0.5" ng-pattern="REGEXP.price">
							
							<div ng-messages="$ctrl.serviceForm.payment.PER_KID.price.$error">
				        		<div ng-message="min"><span translate-once="error.field.min" translate-values="{num: 0}"></span></div>
				        		<div ng-message="pattern"><span translate-once="error.field.generic.invalid"></span></div>
					      	</div>
						</md-input-container>
						<md-input-container class="flex-30">
							<label><span translate-once="billing.vat.tax">VAT</span> (%)</label>
							<input type="number" name="payment.PER_KID.vat" ng-model="$ctrl.service.pay['PER_KID'].vat" placeholder="%" min="0" step="1" max="100" ng-pattern="REGEXP.price">
							
							<div ng-messages="$ctrl.serviceForm.payment.PER_KID.vat.$error">
				        		<div ng-message="min"><span translate-once="error.field.min" translate-values="{num: 0}"></span></div>
				        		<div ng-message="max"><span translate-once="error.field.max" translate-values="{num: 100"}></span></div>
				        		<div ng-message="pattern"><span translate-once="error.field.generic.invalid"></span></div>
					      	</div>
						</md-input-container>
					</div>
				</div>
			</div>
			
			<div class="layout-row layout-wrap" ng-if="$ctrl.advanced">
		    	<div class="layout-column flex-100 layout-padding">
					<md-input-container class="md-block no-padding">
						<label>{{$ctrl.descLang.label ? $ctrl.descLang.label : ('language.language'|translate)}}</label>
						<md-select name="descLang" ng-model="$ctrl.descLang" ng-required="$ctrl.service.description" aria-label="lang">
			          		<md-option ng-repeat="locale in $ctrl.locales track by $index" ng-value="locale" ng-selected="$first">
			          			<span class="flag-icon flag-icon-{{locale.flag}}"></span>
			          			<span>{{locale.label}}</span>
			          		</md-option>
				        </md-select>
				        <div ng-messages="$ctrl.serviceForm.descLang.$error">
			          		<div ng-message="required"><span translate-once="error.required"></span></div>
				        </div>
	          		</md-input-container>
				</div>
		    
		   		<div class="layout-column flex-100">
					<ch-rich-editor 
						id="reservationMessage"
						ng-model="$ctrl.service.description[$ctrl.descLang.iso]"
						ng-required="false"
						max-length="500"
						toolbar="$ctrl.richEditorToolbar"
						class="layout-padding no-padding-top no-padding-bottom">
					</ch-rich-editor>
					<div class="text-gray-light layout-padding-md no-padding-bottom">
						<md-icon class="mdi mdi-alert-circle-outline md-18 text-gray-light no-padding"></md-icon>
						<small translate-once="common.remember.translation.field"></small>
					</div>
				</div>
			</div>		
			
		</div>
		<div class="text-center layout-column flex-100">
<!-- 			<md-button ng-click="$ctrl.$cancel()" aria-label="Cancel"> -->
<!-- 				<span translate="common.cancel"></span> -->
<!-- 			</md-button> -->
			<md-button class="bg-success text-white" ng-click="$ctrl.$save()" aria-label="Save">
				<span translate="common.save"></span>
			</md-button>
		</div>
	</div>
</ng-form>