<ng-form name="creditCardInputForm" novalidate class="credit-card-input">
	<md-input-container class="md-block no-margin-bottom">
		<label><span translate="payment.card.number"></span></label>
		<md-icon class="{{$ctrl.$$icon}}" style="position:absolute;"></md-icon>
		<input type="text" name="number" ng-model="$ctrl.ngModel" ng-required="$ctrl.ngRequired" ng-disabled="$ctrl.ngDisabled" cc-format cc-number cc-eager-type cc-type="{{$ctrl.$$types}}">
		<div class="text-gray-light text-italic">
			<md-icon class="mdi mdi-information-outline md-14"></md-icon>
			<small translate="payment.card.number.description"></small>
		</div>
		<div ng-messages="creditCardInputForm.number.$error">
			<div ng-message="required"><span translate="error.required"></span></div>
			<div ng-message="ccNumber"><span translate="error.credit.card.invalid"></span></div>
			<div ng-message="ccNumberType">
				<span ng-if="creditCardInputForm.number.$ccEagerType" translate="error.credit.card.type.invalid" traslate-values="{type: creditCardInputForm.number.$ccEagerType}"></span>
				<span ng-if="!creditCardInputForm.number.$ccEagerType" translate="error.credit.card.type.generics.invalid"></span>
			</div>
		</div>
	</md-input-container>
<ng-form>