<ng-form name="chMonthPickerTriggerForm" flex class="no-padding">
	<md-button class="ch-month-picker-button flex minimal-button text-initial text-center {{$ctrl.buttonClass}}" 
		ng-click="$ctrl.$openPanel($event)" ng-disabled="$ctrl.ngDisabled" aria-label="Change month">
		
		<div class="{{$ctrl.wrapperClass}}" layout-align="center center" ng-class="$ctrl.labelPosition == 'top' ? 'layout-column' : 'layout-row'">
 			<div ng-if="$ctrl.label" class="no-padding row-mini">
 				<small class="row-mini text-initial" ng-bind-html="$ctrl.label"></small>
 			</div>
			<div layout layout-padding-sm layout-align="center center">
				<span ng-if="!$ctrl.hideIcon">
					<md-icon class="mdi mdi-calendar" ng-class="{'md-32': $ctrl.size == 'big', 'md-24': $ctrl.size == 'medium', 'md-18': $ctrl.size == 'small'}"></md-icon>
				</span>
				<small ng-show="!$ctrl.ngModel" class="text-gray-light">
					<em><span ng-if="!$ctrl.placeholder">...</span><span ng-if="$ctrl.placeholder" ng-bind="$ctrl.placeholder"></span></em>
				</small>
				<span ng-show="$ctrl.ngModel" ng-class="$ctrl.size == 'small' ? 'text-small row-1' : 'row-mini'">
					<span class="text-capitalize" ng-bind="($ctrl.ngModel|date:'MMMM')"></span>
					<span ng-show="$ctrl.$$showYear">&nbsp;<span ng-bind="($ctrl.ngModel|date:'yyyy')"></span></span>
				</span>
				<span>
					<md-icon class="mdi mdi-chevron-down md-18"></md-icon>
				</span>
			</div>
		</div>
		
		<md-input-container class="md-block no-margin no-padding">
			<input type="hidden" style="visibility: hidden;" name="date" ng-model="$ctrl.ngModel" ng-required="$ctrl.ngRequired">
			
			<div ng-messages="chMonthPickerTriggerForm.date.$error" ng-show="chMonthPickerTriggerForm.$submitted || chMonthPickerTriggerForm.date.$touched || chMonthPickerTriggerForm.date.$dirty">
				<div ng-repeat="errorObj in $ctrl.errorMessages" ng-message="{{errorObj.error}}" class="no-padding">
					<span ng-if="errorObj.message" ng-bind="{{errorObj.message}}"></span>
	       			<span ng-if="!errorObj.message && errorObj.messageKey" translate="{{errorObj.messageKey}}" 
	       				translate-values="errorObj.messageKeyParams"></span>
	       		</div>
			</div>
		</md-input-container>
	</md-button>
</ng-form>