.ch-planning-header {
	height: 150px;
	width: 100%;
	background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
	transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.ch-planning-header-content {
    width: 100%;
    height: 100%;
}

.ch-planning-row {
	overflow: hidden;
}

.ch-planning-days-content {
	position: relative;
}

.ch-planning-cell {
	height: 90px;
	border: 1px solid @gray-medium;
	border-top: none;
	border-left: none;
	padding: 8px 0;
}

.ch-planning-cell-room {
	border: 1px solid @gray-medium;
	border-top: none;
	border-left: none;
	padding: 8px 0;
}

.ch-planning-row .ch-planning-cell:last-child {
	border-right: none;
}

.ch-planning-reservation {
    position: absolute;
    height: 50px;
    text-overflow: ellipsis;
    padding-right: 10px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    z-index: 2;
    padding: 6px 0;
}

.ch-planning-reservation * {
	height: 100%;
	width: 100%;	
}

.ch-planning-reservation.ch-planning-reservation-continue-start {
	padding-left: 0;
}

.ch-planning-reservation.ch-planning-reservation-continue-end {
	padding-right: 0;
}

.ch-planning-reservation-content {
	border-radius: 10px;
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ch-planning-reservation-content md-icon {
	color: inherit;
}

.ch-planning-reservation-content md-button,
.ch-planning-reservation-content .md-button {
	text-transform: initial;
	line-height: 1;
	margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.ch-planning-reservation.ch-planning-reservation-continue-start .ch-planning-reservation-content {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
    border-left-style: dashed;
}

.ch-planning-reservation.ch-planning-reservation-continue-end .ch-planning-reservation-content {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
    border-right-style: dashed;
}

.ch-plannig-other {
	position: absolute;
	bottom: 2px;
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ch-planning-legend-color {
	width: 20px;
	height: 20px;
}