<div ng-switch="$ctrl.currentView">
	<div class="md-subhead" layout layout-padding>
		<strong>
			<span ng-switch-when="end">
				<span ng-if="!$ctrl.endTitle"><span translate="date.end.select"></span></span>
				<span ng-if="$ctrl.endTitle" ng-bind-html="$ctrl.endTitle"></span>
			</span>
			<span ng-switch-default>
				<span ng-if="!$ctrl.startTitle"><span translate="date.start.select"></span></span>
				<span ng-if="$ctrl.startTitle" ng-bind-html="$ctrl.startTitle"></span>
			</span>
		</strong>
		
		<span flex></span>
		
		<md-button class="md-icon-button" ng-click="$ctrl.cancel()" aria-label="Cancel">
			<md-icon class="mdi mdi-close md-24"></md-icon>
			<md-tooltip><span translate="common.close"></span></md-tooltip>
		</md-button>
	</div>

	<div class="layout-column layout-align-center-center">
		<div ng-switch-when="end">
			<md-calendar class="no-today-selection" ng-model="$ctrl.data.end" ng-model-options="$ctrl.modelOptions" md-min-date="$ctrl.data.endMinDate" md-max-date="$ctrl.data.endMaxDate"></md-calendar>
		</div>
		
		<div ng-switch-default>
			<md-calendar class="no-today-selection" ng-model="$ctrl.data.start" ng-model-options="$ctrl.modelOptions" md-min-date="$ctrl.data.startMinDate" md-max-date="$ctrl.data.startMaxDate"></md-calendar>
		</div>
	</div>
	
	<md-divider></md-divider>
	
	<div layout layout-padding-sm layout-align="center center" class="bg-gray-lighter text-lowercase">
		<div layout layout-align="start center">
			<span translate="date.from.abbr"></span>&nbsp;
			<md-button class="no-margin" ng-class="{'only-border border-primary': $ctrl.currentView == 'start'}" ng-click="$ctrl.currentView = 'start'" aria-label="Choose start date">
				<span ng-show="!$ctrl.$$startDate" class="text-gray-light"><md-icon class="mdi mdi-dots-horizontal md-24"></md-icon></span>
				<span ng-show="$ctrl.$$startDate" class="md-subhead"><strong>{{$ctrl.$$startDate|date:"shortDate":$ctrl.timezone}}</strong></span>
				<md-tooltip>
					<span ng-if="!$ctrl.startTitle"><span translate="date.start.select"></span></span>
					<span ng-if="$ctrl.startTitle" ng-bind-html="$ctrl.startTitle"></span>
				</md-tooltip>
			</md-button>
		</div>
		<div layout layout-align="start center">
			<span translate="date.to.abbr"></span>&nbsp;
			<md-button class="no-margin" ng-class="{'only-border border-primary': $ctrl.currentView == 'end'}" ng-click="$ctrl.currentView = 'end'" aria-label="Choose end date">
				<span ng-show="!$ctrl.$$endDate" class="text-gray-light"><md-icon class="mdi mdi-dots-horizontal md-24"></md-icon></span>
				<span ng-show="$ctrl.$$endDate" class="md-subhead"><strong>{{$ctrl.$$endDate|date:"shortDate":$ctrl.timezone}}</strong></span>
				<md-tooltip>
           			<span ng-if="!$ctrl.endTitle"><span translate="date.end.select"></span></span>
					<span ng-if="$ctrl.endTitle" ng-bind-html="$ctrl.endTitle"></span>
           		</md-tooltip>
			</md-button>
			<div ng-if="$ctrl.showDiff  && $ctrl.data.diff > 0 && $ctrl.$$startDate && $ctrl.$$endDate" class="text-gray-light text-small no-padding no-margin text-lowercase"> 
           		&nbsp;(<span>{{$ctrl.data.diff}}&nbsp;</span>
           		<span ng-show="$ctrl.data.diff == 1"><span ng-if="!$ctrl.diffLabelSingular" translate="date.day"></span><span ng-if="$ctrl.diffLabelSingular">{{$ctrl.diffLabelSingular}}</span>)</span> 
           		<span ng-show="$ctrl.data.diff > 1"><span ng-if="!$ctrl.diffLabelPlural" translate="date.days"></span><span ng-if="$ctrl.diffLabelPlural">{{$ctrl.diffLabelPlural}}</span>)</span> 
           	</div>
		</div>
	</div>
</div>