<ng-form name="chDateRangePickerTriggerForm" layout="column" flex="100">
  	<md-button class="ch-date-range-picker-button minimal-button flex text-lowercase text-center layout-row layout-wrap {{$ctrl.buttonClass}}" ng-click="$ctrl.$openPanel($event)" aria-label="Change period" ng-disabled="$ctrl.ngDisabled">
  		<div class="{{$ctrl.wrapperClass}} layout-column flex no-padding-right">
  			<div ng-if="$ctrl.label || ($ctrl.placeholder && !$ctrl.start && !$ctrl.end)" class="layout-row layout-align-center-center" ng-class="{'no-padding-top': $ctrl.$mdMedia('gt-xs'), 'md-padding': !$ctrl.$mdMedia('gt-xs') || $ctrl.start || $ctrl.end}">
	  			<div class="{{$ctrl.labelClass}} text-initial text-wrap row-1" ng-class="{'text-small': $ctrl.start || $ctrl.end}">
	  				<span ng-if="$ctrl.placeholder && !$ctrl.start && !$ctrl.end" ng-bind-html="$ctrl.placeholder"></span>
		  			<span ng-if="$ctrl.label && (($ctrl.start || $ctrl.end) || !$ctrl.placeholder)" ng-bind-html="$ctrl.label"></span>
	  			</div>
			</div>
			<div ng-if="!$ctrl.largeTemplate">
				<div ng-show="$ctrl.start || $ctrl.end" class="layout layout-wrap layout-align-center-center row-mini">
					<span><span translate="date.from.abbr"></span>&nbsp;<span class="md-subhead"><strong>{{$ctrl.start|date:"shortDate":$ctrl.$$timezone}}</strong></span>&nbsp;</span>
					<span><span translate="date.to.abbr"></span>&nbsp;<span class="md-subhead"><strong>{{$ctrl.end|date:"shortDate":$ctrl.$$timezone}}</strong></span></span>
					<span ng-if="$ctrl.showDiff && $ctrl.$$diff" class="{{$ctrl.labelClass}} text-small no-padding no-margin text-lowercase"> 
					&nbsp;(<span ng-bind="$ctrl.$$diff"></span>&nbsp;
			       		<span ng-show="$ctrl.$$diff == 1"><span ng-if="!$ctrl.$$diffLabelSingular" translate="date.day"></span><span ng-if="$ctrl.$$diffLabelSingular" ng-bind="$ctrl.$$diffLabelSingular"></span>)</span> 
			       		<span ng-show="$ctrl.$$diff > 1"><span ng-if="!$ctrl.$$diffLabelPlural" translate="date.days"></span><span ng-if="$ctrl.$$diffLabelPlural" ng-bind="$ctrl.$$diffLabelPlural"></span>)</span> 
			       	</span>
				</div>
			</div>
			<div ng-if="$ctrl.largeTemplate" class="layout-row layout-wrap layout-align-center-center layout-padding-sm">
				<div class="layout-column layout-padding-sm flex-45 row-1">
					<span class="no-padding-bottom row-1 text-initial" ng-bind-html="$ctrl.startLabel"></span>
					<div class="layout-align-center-center layout-row">
						<span><md-icon class="mdi mdi-calendar md-32"></md-icon></span>
						<span ng-if="$ctrl.start" class="md-display-1 layout-padding">{{$ctrl.start|date:"dd":$ctrl.$$timezone}}</span>
						<span ng-if="$ctrl.start" class="layout-column row-mini">
							<span>{{$ctrl.start|date:"MMM":$ctrl.$$timezone}}</span>
							<span>{{$ctrl.start|date:"yyyy":$ctrl.$$timezone}}</span>
						</span>
					</div>
				</div>
				
				<div class="layout-column flex text-bold">-</div>
				
				<div class="layout-column layout-padding-sm flex-45 row-1">
					<span class="no-padding-bottom row-1 text-initial" ng-bind-html="$ctrl.endLabel"></span>
					<div class="layout-align-center-center layout-row">
						<span><md-icon class="mdi mdi-calendar md-32"></md-icon></span>
						<span ng-if="$ctrl.end" class="md-display-1 layout-padding">{{$ctrl.end|date:"dd":$ctrl.$$timezone}}</span>
						<span ng-if="$ctrl.end" class="layout-column row-mini">
							<span>{{$ctrl.end|date:"MMM":$ctrl.$$timezone}}</span>
							<span>{{$ctrl.end|date:"yyyy":$ctrl.$$timezone}}</span>
						</span>
					</div>
				</div>
				
				<div ng-if="$ctrl.showDiff && $ctrl.$$diff" class="layout-column flex-100 row-1">
					<span class="{{$ctrl.labelClass}} text-small no-padding no-margin text-lowercase"> 
			       		&nbsp;(<span ng-bind="$ctrl.$$diff">&nbsp;</span> 
			       		<span ng-show="$ctrl.$$diff == 1"><span ng-if="!$ctrl.$$diffLabelSingular" translate="date.day"></span><span ng-if="$ctrl.$$diffLabelSingular" ng-bind="$ctrl.$$diffLabelSingular"></span>)</span> 
			       		<span ng-show="$ctrl.$$diff > 1"><span ng-if="!$ctrl.$$diffLabelPlural" translate="date.days"></span><span ng-if="$ctrl.$$diffLabelPlural" ng-bind="$ctrl.$$diffLabelPlural"></span>)</span>
			       	</span>
		       	</div>
			</div>
		</div>
		<div class="layout-column" ng-class="$ctrl.$mdMedia('gt-sm') ? 'no-padding' : 'layout-padding no-padding-right'">
			<md-icon class="mdi mdi-menu-down md-18"></md-icon>
		</div>
		<div class="layout-column flex-100 no-margin no-padding">
			<md-input-container class="md-block no-margin no-padding">
				<input type="hidden" style="visibility: hidden;" name="{{$ctrl.startInputName}}" ng-model="$ctrl.start" ng-required="$ctrl.ngRequired">
			
				<div ng-messages="chDateRangePickerTriggerForm[$ctrl.startInputName].$error" class="font-12 text-center text-danger">
			  		<div ng-repeat="errorObj in $ctrl.startErrorMessages" ng-message="{{errorObj.error}}" class="no-padding">
						<span ng-if="errorObj.message" ng-bind="{{errorObj.message}}"></span>
			 			<span ng-if="!errorObj.message && errorObj.messageKey" translate="{{errorObj.messageKey}}" 
			 				translate-values="errorObj.messageKeyParams"></span>
			 		</div>
			  	</div>
		  	</md-input-container>
		  	
		  	<md-input-container class="md-block no-margin no-padding">
			  	<input type="hidden" style="visibility: hidden;" name="{{$ctrl.endInputName}}" ng-model="$ctrl.end" ng-required="$ctrl.ngRequired">
			  	
			  	<div ng-messages="chDateRangePickerTriggerForm[$ctrl.endInputName].$error" class="font-12 text-center text-danger" 
			  		ng-show="!chDateRangePickerTriggerForm[$ctrl.startInputName].$invalid && (chDateRangePickerTriggerForm[$ctrl.endInputName].$dirty || chDateRangePickerTriggerForm[$ctrl.endInputName].$touched)">
			  		<div ng-repeat="errorObj in $ctrl.endErrorMessages" ng-message="{{errorObj.error}}" class="no-padding">
						<span ng-if="errorObj.message" ng-bind="{{errorObj.message}}"></span>
			 			<span ng-if="!errorObj.message && errorObj.messageKey" translate="{{errorObj.messageKey}}" 
			 				translate-values="errorObj.messageKeyParams"></span>
			 		</div>
			  	</div>
		  	</md-input-container>
		  </div>
 	</md-button>
</ng-form>