ch-statistics-chart {
	position: relative !important;
	display: block;
}

ch-statistics-chart .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.8);
}

ch-statistics-chart-legend {
	font-size: smaller;
}

.chart-legend {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
	display: inline-block;
	margin-right: 3px;
}

ch-chart {
    max-height: 350px;
    min-height: 250px !important;
    position: relative !important;
}

@media @query-gt-sm {

}

.ch-statistics-report {
	background: linear-gradient(rgba(25, 118, 210, 1), rgba(255, 244, 255, 0.42));
	color: #FFF;
}

/* FIX CHART REPORT CHART MINI */
ch-statistics-report .chartjs-size-monitor, ch-statistics-report ch-chart {
	max-height: 100px;
	height: 100px;
	min-height: 0!important;
	margin-left: -11px;
    margin-bottom: -11px;
}

/* FIX CHART TORTA LARGHEZZA MASSIMA */
.chart-pie-max-width {
	max-width: 600px !important;
	margin: 20px auto !important;
	width: 100% !important;
}


/* Progress bar report */
.reviews-big-progress >  md-progress-linear .md-bar {
	background-color: #42a5f5 !important;
}

.reviews-big-progress-compared >  md-progress-linear .md-bar {
	background-color: #1976d2 !important;
}

.reviews-big-progress md-progress-linear .md-container, .reviews-big-progress-compared md-progress-linear .md-container {
	background-color: rgba(25, 118, 210, 0.2)
}

.reviews-big-progress md-progress-linear, .reviews-big-progress md-progress-linear .md-container, .reviews-big-progress md-progress-linear .md-container .md-bar, 
.reviews-big-progress-compared md-progress-linear, .reviews-big-progress-compared md-progress-linear .md-container, .reviews-big-progress-compared md-progress-linear .md-container .md-bar {
	height: 22px
}
