<div>
	<ng-form name="identityDocumentForm">
		<div ng-class="{'text-center': !$ctrl.$mdMedia('gt-sm')}" class="text-gray-light" ng-switch="$ctrl.identityDocument.guestType">
			<div ng-switch-when="FAMILY_MEMBER" class="bg-success text-white md-button button-small">
				<md-icon class="mdi mdi-account md-18 text-white"></md-icon>
				<small translate="common.FAMILY_MEMBER"></small>
			</div>
			<div ng-switch-when="GROUP_MEMBER" class="bg-success text-white md-button button-small">
				<md-icon class="mdi mdi-account md-18 text-white"></md-icon>
				<small translate="common.GROUP_MEMBER"></small>
			</div>
			<div ng-switch-default>
				<md-button ng-class="{'bg-success': $ctrl.identityDocument.guestType == 'GROUP_LEADER'}" class="button-small" ng-click="$ctrl.$setGuestType('GROUP_LEADER')" aria-label="Set as group leader">
					<md-icon class="mdi mdi-google-circles md-18" ng-class="$ctrl.identityDocument.guestType == 'GROUP_LEADER' ? 'text-white' : 'text-success'"></md-icon>
					<small translate="common.GROUP_LEADER" ng-class="$ctrl.identityDocument.guestType == 'GROUP_LEADER' ? 'text-white' : 'text-success'"></small>
				</md-button>
				<md-button ng-class="{'bg-success': $ctrl.identityDocument.guestType == 'HOUSEHOLDER'}" class="button-small" ng-click="$ctrl.$setGuestType('HOUSEHOLDER')" aria-label="Set as householder">
					<md-icon class="mdi mdi-account-multiple md-18" ng-class="$ctrl.identityDocument.guestType == 'HOUSEHOLDER' ? 'text-white' : 'text-success'"></md-icon>
					<small translate="common.HOUSEHOLDER" ng-class="$ctrl.identityDocument.guestType == 'HOUSEHOLDER' ? 'text-white' : 'text-success'"></small>
				</md-button>
				<md-button ng-class="{'bg-success': $ctrl.identityDocument.guestType == 'SINGLE_GUEST'}" class="button-small" ng-click="$ctrl.$setGuestType('SINGLE_GUEST')" aria-label="Set as single guest">
					<md-icon class="mdi mdi-account md-18" ng-class="$ctrl.identityDocument.guestType == 'SINGLE_GUEST' ? 'text-white' : 'text-success'"></md-icon>
					<small translate="common.SINGLE_GUEST" ng-class="$ctrl.identityDocument.guestType == 'SINGLE_GUEST' ? 'text-white' : 'text-success'"></small>
				</md-button>
			</div>
		</div>
		<div>
			<div class="layout-row layout-wrap layout-padding">
				<div class="flex-xs-100 flex-sm-50 flex-gt-sm-50 flex-gt-md-20">
					<md-input-container class="md-block no-margin-bottom">
			       		<label translate="common.name"></label>
			       		<input type="text" ng-model="$ctrl.identityDocument.name" name="name" required>
				    	<div ng-messages="identityDocumentForm.name.$error">
			          		<div ng-message="required"><span translate="error.required"></span></div>
				        </div>
				    </md-input-container>
			    </div>
			    <div class="flex-xs-100 flex-sm-50 flex-gt-sm-50 flex-gt-md-20">
					<md-input-container class="md-block no-margin-bottom">
			       		<label translate="common.surname"></label>
			       		<input type="text" ng-model="$ctrl.identityDocument.surname" name="surname" required>
				    	<div ng-messages="identityDocumentForm.surname.$error">
			          		<div ng-message="required"><span translate="error.required"></span></div>
				        </div>
				    </md-input-container>
			    </div>
			    <div class="flex-xs-100 flex-sm-50 flex-gt-sm-33 flex-gt-md-20">
					<md-input-container class="md-block no-margin-bottom">
			       		<label translate="common.birthdate"></label>
			       		<md-datepicker name="birthdate" ng-model="$ctrl.identityDocument.birthDate" utc-date
			       			md-datepicker-on-click md-open-on-focus md-hide-icons="calendar" md-max-date="$ctrl.$$maxDate" required></md-datepicker>
						<div ng-messages="identityDocumentForm.birthdate.$error">
			          		<div ng-message="maxdate"><span translate="reservation.text.identityDocuments.legalAge"></span></div>
			          		<div ng-message="required"><span translate="error.required"></span></div>
				        </div>
				    </md-input-container>
			    </div>
			    <div class="flex-xs-100 flex-sm-50 flex-gt-sm-33 flex-gt-md-20">
					<md-input-container class="md-block no-margin-bottom">
			       		<label translate="common.birthplace"></label>
			       		<input type="text" ng-model="$ctrl.identityDocument.birthPlace" name="birtplace">
				    </md-input-container>
			    </div>
			    <div class="flex-xs-100 flex-sm-50 flex-gt-sm-33 flex-gt-md-20">
					<md-input-container class="md-block no-margin-bottom">
			       		<label translate="common.nationality"></label>
			       		<input type="text" ng-model="$ctrl.identityDocument.nationality" name="nationality">
				    </md-input-container>
			    </div>
			</div>
			<div class="layout-row layout-wrap layout-padding" ng-if="$ctrl.identityDocument.guestType != 'GROUP_MEMBER' && $ctrl.identityDocument.guestType != 'FAMILY_MEMBER'">
			    <div class="flex-xs-100 flex-sm-50 flex-gt-sm-33 flex-gt-md-20">
					<md-input-container class="md-block no-margin-bottom">
			       		<label translate="common.document.type"></label>
			       		<md-select ng-model="$ctrl.identityDocument.type" aria-label="type" name="type">
			          		<md-option value="PASSPORT"><span translate="common.PASSPORT"></span></md-option>
				          	<md-option value="DRIVING_LICENSE"><span translate="common.DRIVING_LICENSE"></span></md-option>
				          	<md-option value="IDENTITY_CARD"><span translate="common.IDENTITY_CARD"></span></md-option>
				        </md-select>
				    </md-input-container>
			    </div>
			    <div class="flex-xs-100 flex-sm-50 flex-gt-sm-33 flex-gt-md-20">
					<md-input-container class="md-block no-margin-bottom">
			       		<label translate="common.document.number"></label>
			       		<input type="text" ng-model="$ctrl.identityDocument.number" name="number">
				    </md-input-container>
			    </div>
			    <div class="flex-xs-100 flex-sm-50 flex-gt-sm-33 flex-gt-md-20">
					<md-input-container class="md-block no-margin-bottom">
			       		<label translate="common.document.expirationDate"></label>
			       		<md-datepicker name="expirationDate" ng-model="$ctrl.identityDocument.expirationDate" utc-date
			       			md-datepicker-on-click md-open-on-focus md-hide-icons="calendar" md-min-date="$ctrl.$$today"></md-datepicker>
		       			<div ng-messages="identityDocumentForm.expirationDate.$error">
			          		<div ng-message="mindate"><span translate="error.date.before.today"></span></div>
				        </div>
				    </md-input-container>
			    </div>
		     	<div class="flex-xs-100 flex-sm-50 flex-gt-sm-50 flex-gt-md-20">
					<md-input-container class="md-block no-margin-bottom">
			       		<label translate="common.place.issuer"></label>
			       		<input type="text" ng-model="$ctrl.identityDocument.issuer" name="issuer">
				    </md-input-container>
			    </div>
			    <div class="flex-xs-100 flex-sm-50 flex-gt-sm-50 flex-gt-md-20">
					<md-input-container class="md-block no-margin-bottom">
			       		<label translate="common.citizenship"></label>
			       		<input type="text" ng-model="$ctrl.identityDocument.citizenship" name="citizenship">
				    </md-input-container>
			    </div>
			 </div>
		</div>
		
		<div layout="column" layout-gt-sm="row" layout-padding-sm layout-align="center center">
			<md-button ng-click="$ctrl.$cancel()" aria-label="Cancel identity document edit">
				<md-icon class="mdi mdi-close md-24"></md-icon>
				<span translate="common.cancel"></span>
			</md-button>
			
			<md-button class="bg-success text-white" ng-click="$ctrl.$confirm()" ng-disabled="identityDocumentForm.$invalid" aria-label="Confirm identity document edit">
				<md-icon class="mdi mdi-check md-24 text-white"></md-icon>
				<span translate="common.confirm"></span>
			</md-button>
		</div>
	</ng-form>
</div>