<div flex class="ch-simple-stepper" ng-class="{ 
    'ch-simple-stepper-linear': $ctrl.linear, 
    'ch-simple-stepper-alternative': $ctrl.alternative,
    'ch-simple-stepper-vertical': $ctrl.vertical,
    'ch-simple-stepper-mobile-step-text': $ctrl.mobileMode,
    'ch-simple-stepper-has-feedback': $ctrl.hasFeedback
    }">
    <div class="ch-simple-stepper-header-region">
        <ch-simple-stepper-header class="ch-simple-stepper-header ch-simple-stepper-horizontal ch-whiteframe-1dp">
            <md-button class="ch-simple-stepper-indicator" ng-repeat="($stepNumber, $step) in $ctrl.$$steps track by $index" ng-class="{
                'ch-active': $stepNumber === $ctrl.$$currentStep.index,
                'ch-completed': $step.$completed,
                'ch-error': $step.hasError,
                'ch-simple-stepper-optional': $step.optional || $step.hasError
            	}" ng-click="$ctrl.goto($stepNumber)" 
            	ng-disabled="($ctrl.linear && ($stepNumber > $ctrl.$$currentStep.index || !$ctrl.previousStepClick)) || $step.ngDisabled"
            	aria-label="Go to step">
	            <div class="ch-simple-stepper-indicator-wrapper">
	                <div class="ch-simple-stepper-number" ng-hide="$step.hasError">
	                    <span ng-if="!$step.$completed">
	                    	<span ng-if="!$step.iconClass" ng-bind="$stepNumber+1"></span>
	                    	<span ng-if="$step.iconClass">
								<md-icon class="{{$step.iconClass}}"></md-icon>
							</span>
	                    </span>
	                    <span ng-if="$step.$completed">
	                    	<md-icon class="ch-simple-stepper-icon material-icons mdi" 
	                    		ng-class="$step.iconCompletedClass ? $step.iconCompletedClass : 'mdi-check md-18'"></md-icon>
	                    </span>
	                </div>
	
	                <div class="ch-simple-stepper-error-indicator" ng-show="$step.hasError">
	                	<md-icon class="steppers-warning mdi mdi-alert md-24"></md-icon>
	                </div>
	                
	                <div class="ch-simple-stepper-title">
	                    <div>
		                    <span ng-show="!$step.$completed || !$step.completedLabel" ng-bind-html="$step.label"></span>
		                    <span ng-if="$step.completedLabel" ng-show="$step.$completed" ng-bind-html="$step.completedLabel"></span>
		                    <small ng-if="$step.optional" ng-show="!$step.hasError">&nbsp;(<span ng-bind-html="$step.optionalLabel"></span>)</small>
						</div>
						<div class="ch-simple-stepper-subtitle">
							<span ng-if="$step.subtitle" ng-show="!$step.$completed || !$step.completedSubtitle" ng-bind-html="$step.subtitle"></span>
		                    <span ng-if="$step.completedSubtitle" ng-show="$step.$completed" ng-bind-html="$step.completedSubtitle"></span>
						</div>
	                    <small class="ch-simple-stepper-error-message" ng-show="$step.hasError" ng-bind-html="$step.message"></small>
	                </div>
	            </div>
            </md-button>
        </ch-simple-stepper-header>
        
        <ch-simple-stepper-mobile-header class="ch-simple-stepper-mobile-header">
            <md-toolbar flex="none" class="ch-whiteframe-1dp" style="background: #f6f6f6 !important; color: #202020 !important;">
                <div class="md-toolbar-tools ch-simple-stepper-indicator" ng-class="{
                	'ch-error': $ctrl.$$currentStep.hasError,
                	'ch-simple-stepper-optional': $ctrl.$$currentStep.optional || $ctrl.$$currentStep.hasError}">
                	<div class="ch-simple-stepper-indicator-wrapper">
	                	<div class="ch-simple-stepper-error-indicator" ng-show="$ctrl.$$currentStep.hasError">
		                	<md-icon class="steppers-warning mdi mdi-alert md-18"></md-icon>
		                </div>
	                   	<div class="ch-simple-stepper-title">
	                   		<div>
		                   		<span class="ch-simple-stepper-step-counter-label">
			                        <span ng-bind-html="$ctrl.labelStep"></span>&nbsp;<span ng-bind-html="$ctrl.$$currentStep.index+1"></span>&nbsp;
			                       	<span ng-bind-html="$ctrl.labelOf"></span>&nbsp;<span ng-bind-html="$ctrl.$$steps.length"></span>:&nbsp;
		            			</span>
		                   		<span>
				                    <span ng-bind-html="$ctrl.$$currentStep.label"></span>
				                    <small ng-if="$ctrl.$$currentStep.optional" ng-show="!$ctrl.$$currentStep.hasError">&nbsp;(<span ng-bind-html="$ctrl.$$currentStep.optionalLabel"></span>)</small>
								</span>
							</div>
							<div class="ch-simple-stepper-subtitle">
								<span ng-if="$ctrl.$$currentStep.subtitle" ng-bind-html="$ctrl.$$currentStep.subtitle"></span>
							</div>
		                    <small class="ch-simple-stepper-error-message" ng-show="$ctrl.$$currentStep.hasError" ng-bind-html="$ctrl.$$currentStep.message"></small>
	                   	</div>                      	
	                </div>
	       		</div>
            </md-toolbar>
        </ch-simple-stepper-mobile-header>
        
        <div class="ch-simple-stepper-feedback-message" ng-show="$ctrl.hasFeedback">
            <span ng-bind-html="$ctrl.feedbackMessage"></span>
        </div>
    </div>
    
    <ch-simple-stepper-content class="ch-simple-stepper-content" ng-transclude></ch-simple-stepper-content>
    
    <div class="ch-simple-stepper-overlay"></div>
</div>