<div layout-fill class="md-whiteframe-1dp bg-white flex layout-column" ng-click="$ctrl.$goTo()"
	ng-class="{'clickable': !$ctrl.ngDisabled && ($ctrl.url || $ctrl.state || $ctrl.onClick), 'cursor-disabled': $ctrl.ngDisabled}">
	<div class="relative">
		<div ng-if="$ctrl.ngDisabled" class="disabled-box {{$ctrl.disabledClass}}">
			<span ng-if="$ctrl.disabledLabel" class="disabled-box-bar {{$ctrl.disabledBarClass}}" ng-bind-html="$ctrl.disabledLabel"></span>
		</div>
		
		<div ng-if="$ctrl.isCompleted || $ctrl.isRequired || $ctrl.isSuggested" class="absolute full-width ng-scope text-right">
			<div ng-if="$ctrl.isCompleted" class="bg-success label label-inline-block md-margin">
				<md-icon class="mdi mdi-checkbox-marked-circle-outline text-white"></md-icon>
				<span translate-once="common.full.alt"></span>
			</div>

			<div ng-if="$ctrl.isRequired && !$ctrl.isCompleted" class="bg-danger label label-inline-block md-margin">
				<md-icon class="mdi mdi-alert-circle-outline text-white"></md-icon>
				<span translate-once="common.to.complete"></span>
			</div>
			
			<div ng-if="$ctrl.isSuggested && !$ctrl.isRequired && !$ctrl.isCompleted" class="bg-info label label-inline-block md-margin">
				<md-icon class="mdi mdi-information-outline text-white"></md-icon>
				<span translate-once="common.hint"></span>
			</div>
		</div>
		
		<div class="layout-padding no-padding-right absolute position-right position-top" style="z-index: 2" ng-if="$ctrl.menuItems.length || $ctrl.disabledMenuItems.length">
			<md-menu class="md-secondary" ng-if="$ctrl.menuItems && !$ctrl.ngDisabled">
   				<md-button aria-label="Open user interactions menu" class="md-icon-button {{$ctrl.menuClass}}" ng-click="$mdMenu.open($event)">
     					<md-icon class="mdi mdi-dots-vertical text-white"></md-icon>
        		</md-button>
		      	<md-menu-content width="4">
		      		<div ng-repeat="item in $ctrl.menuItems" ng-if="!item.hide" layout="column">
		      			<md-menu-divider ng-if="item.type == 'divider'"></md-menu-divider>
			      		<md-menu-item ng-if="item.type != 'divider'">
							<md-button ng-click="$ctrl.$menuClick($event, item)" aria-label="{{item.label | translate}}" class="{{item.labelClass}}" ng-disabled="item.disabled">
					      		<md-icon class="{{item.icon}} material-icons"></md-icon>&nbsp;<span translate-once="{{item.label}}"></span>		      		
				          	</md-button>
				   		</md-menu-item>
		   	 		</div>
				</md-menu-content>
			</md-menu>
			
			<md-menu class="md-secondary" ng-if="$ctrl.disabledMenuItems && $ctrl.ngDisabled">
     				<md-button aria-label="Open user interactions menu" class="md-icon-button {{$ctrl.menuClass}}" ng-click="$mdMenu.open($event)">
     					<md-icon class="mdi mdi-dots-vertical text-white"></md-icon>
        		</md-button>
		      	<md-menu-content width="4">
		      		<div ng-repeat="item in $ctrl.disabledMenuItems" ng-if="!item.hide" layout="column">
		      			<md-menu-divider ng-if="item.type == 'divider'"></md-menu-divider>
			      		<md-menu-item ng-if="item.type != 'divider'">
							<md-button ng-click="$ctrl.$menuClick($event, item)" aria-label="{{item.label | translate}}" class="{{item.labelClass}}" ng-disabled="item.disabled">
					      		<md-icon class="{{item.icon}} material-icons"></md-icon>&nbsp;<span translate-once="{{item.label}}"></span>		      		
				          	</md-button>
				   		</md-menu-item>
				   	</div>
				</md-menu-content>
			</md-menu>
		</div>
		<div class="flex layout-column layout-align-center-center text-center overflow-hidden card-image" ng-class="{'md-hover-icon': !$ctrl.noHover}" ng-style="$ctrl.$$bgStyle"
			ng-if="$ctrl.showAvatar || $ctrl.imgUrl || $ctrl.bgUrl || $ctrl.iconClass || $ctrl.iconSecondaryClass">
			<div ng-if="$ctrl.imgUrl" class="{{$ctrl.imgContClass}}">
				<img ng-if="$ctrl.imgUrl" ng-src="{{$ctrl.imgUrl}}" class="{{$ctrl.imgClass}}" lazy-image loaded-class="animated fadeIn">
			</div>	
			<div ng-if="!$ctrl.imgUrl && ($ctrl.iconClass || $ctrl.iconSecondaryClass)">
				<div class="layout-column layout-padding-sm layout-align-center-center">
					<div ng-if="$ctrl.iconLabel && $ctrl.iconLabelPosition == 'top'" class="{{$ctrl.iconLabelClass}}" ng-bind-html="$ctrl.iconLabel"></div>
					<div ng-if="$ctrl.iconSecondaryLabel && $ctrl.iconSecondaryLabelPosition == 'top'" class="{{$ctrl.iconSecondaryLabelClass}}" ng-bind-html="$ctrl.iconSecondaryLabel"></div>
					<div>
						<span ng-if="$ctrl.iconLabel && $ctrl.iconLabelPosition == 'left'" class="{{$ctrl.iconLabelClass}}" ng-bind-html="$ctrl.iconLabel"></span>
						<span ng-if="$ctrl.iconSecondaryLabel && $ctrl.iconSecondaryLabelPosition == 'left'" class="{{$ctrl.iconSecondaryLabelClass}}" ng-bind-html="$ctrl.iconSecondaryLabel"></span>
						<md-icon md-font-set="{{$ctrl.iconFontSet}}" class="{{$ctrl.iconClass}}" ng-class="{'material-icons': !$ctrl.iconFontSet}"></md-icon>
						<md-icon ng-if="$ctrl.otherIconClass" md-font-set="{{$ctrl.otherIconFontSet}}" class="{{$ctrl.otherIconClass}}" ng-class="{'material-icons': !$ctrl.otherIconFontSet}"></md-icon>
						<span ng-if="$ctrl.iconLabel && $ctrl.iconLabelPosition == 'right'" class="{{$ctrl.iconLabelClass}}" ng-bind-html="$ctrl.iconLabel"></span>
						<span ng-if="$ctrl.iconSecondaryLabel && $ctrl.iconSecondaryLabelPosition == 'right'" class="{{$ctrl.iconSecondaryLabelClass}}" ng-bind-html="$ctrl.iconSecondaryLabel"></span>
					</div>
					<div ng-if="$ctrl.iconLabel && $ctrl.iconLabelPosition == 'bottom'" class="{{$ctrl.iconLabelClass}}" ng-bind-html="$ctrl.iconLabel"></div>
					<div ng-if="$ctrl.iconSecondaryLabel && $ctrl.iconSecondaryLabelPosition == 'bottom'" class="{{$ctrl.iconSecondaryLabelClass}}" ng-bind-html="$ctrl.iconSecondaryLabel"></div>
				</div>
			</div>
			<div ng-if="$ctrl.showAvatar && !$ctrl.imgUrl && !$ctrl.iconClass && !$ctrl.iconSecondaryClass && ($ctrl.title || $ctrl.description)" class="layout-row layout-align-center-center {{$ctrl.imgContClass}}">
				<span class="md-display-3 text-uppercase">
					<span ng-if="$ctrl.title" ng-bind="$ctrl.title.charAt(0)"></span>
					<span ng-if="!$ctrl.title" ng-bind="$ctrl.description.charAt(0)"></span>
				</span>
			</div>
		</div>
	</div>
	
	<md-divider ng-if="$ctrl.showAvatar || $ctrl.imgUrl || $ctrl.iconClass || $ctrl.iconSecondaryClass"></md-divider>
	
	<div class="md-padding layout-column layout-padding-sm flex {{$ctrl.colorClass}}">
		<div class="layout-column layout-padding-sm layout-align-center-center" ng-if="$ctrl.title || $ctrl.subtitle">
			<div class="{{$ctrl.titleClass}} row-mini text-center" ng-if="$ctrl.title" ng-bind-html="$ctrl.title"></div>
			<small class="text-center" ng-if="$ctrl.subtitle" ng-bind-html="$ctrl.subtitle"></small>
		</div>
		<div ng-transclude class="flex layout-column layout-align-center-center card-footer"></div>
	</div>
</div>